<div class="bg-white rounded-lg p-4 shadow-sm min-h-[244px]">
  <h3 class="text-slate-800 font-semibold mb-3 top-0 sticky">Daily Activity</h3>
  <ul class="space-y-4 overflow-scroll">
    <li class="flex items-start gap-3">
      <div class="w-2 h-2 bg-indigo-500 rounded-full mt-2"></div>
      <div>
        <div class="text-sm font-medium">
          Task Finished <span class="text-xs text-gray-400">09 July 2021</span>
        </div>
        <div class="text-xs text-gray-500">
          Adam Berry finished task on Project Management
        </div>
      </div>
    </li>
    <li class="flex items-start gap-3">
      <div class="w-2 h-2 bg-cyan-400 rounded-full mt-2"></div>
      <div>
        <div class="text-sm font-medium">
          New Comment <span class="text-xs text-gray-400">05 July 2021</span>
        </div>
        <div class="text-xs text-gray-500">
          Victoria commented on Project AngularJS Template
        </div>
      </div>
    </li>
  </ul>
</div>
