<div class="flex flex-col flex-grow gap-4">
  <nav class="flex flex-col gap-6 sticky z-10 py-4">
    <div class="flex justify-between items-center">
      <h3 class="heading">{{ "publisherdetails" | translate }}</h3>
      <app-back></app-back>
    </div>
  </nav>
  <mat-tab-group
    dynamicHeight
    [selectedIndex]="selectedTabIndex()"
    (selectedTabChange)="onTabChange($event.index)"
    class="publisher-tabs"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "publisherdetails" | translate }}
        </span>
      </ng-template>

      <!-- MAIN CARD -->
      <section class="mt-8 bg-white p-8 rounded-xl shadow-md mat-elevation-z4">
        <!-- ================= HEADER ================= -->
        <div
          class="flex flex-col sm:flex-row sm:items-center gap-4 sm:gap-6 pb-6 border-b"
        >
          <!-- Profile Image -->
          <div
            class="w-24 h-24 sm:w-28 sm:h-28 rounded-full overflow-hidden shadow border flex items-center justify-center mx-auto sm:mx-0"
          >
            @if (publisherDetails()?.medias?.length) {
            <img
              [src]="(publisherDetails()?.medias?.[0]?.url ?? 'images/user-solid-full.svg') | safeUrl"
              class="w-full h-full object-cover"
            />
            } @else {
            <img
              src="images/user-solid-full.svg"
              class="w-14 h-14 opacity-60"
            />
            }
          </div>

          <!-- Title -->
          <div class="text-center sm:text-left">
            <h2
              class="text-xl sm:text-2xl font-medium text-text-heading capitalize"
            >
              {{ publisherDetails()?.name }}
            </h2>
            <p class="text-gray-500 text-sm mt-1 capitalize">
              {{ publisherDetails()?.designation || "No Designation" }}
            </p>
            <p class="text-gray-600 text-sm mt-1 break-all">
              {{ publisherDetails()?.email }}
            </p>
          </div>
        </div>

        <!-- ================= PUBLISHER DETAILS ================= -->
        <div class="mt-8">
          <h3 class="text-lg font-semibold text-gray-800 mb-4">
            {{ "publisherdetails" | translate }}
          </h3>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 text-sm"
          >
            <div>
              <span class="font-medium">Company Name:</span>
              {{ publisherDetails()?.name }}
            </div>
            <div>
              <span class="font-medium">Official Email:</span>
              <span class="break-all"> {{ publisherDetails()?.email }} </span>
            </div>
            <div>
              <span class="font-medium">Publisher:</span>
              {{ publisherDetails()?.user?.firstName }}
              {{ publisherDetails()?.user?.lastName }}
            </div>

            <div>
              <span class="font-medium">Contact Number:</span>
              {{ publisherDetails()?.user?.phoneNumber }} ,
              {{ publisherDetails()?.phoneNumber }}
            </div>
            <div>
              <span class="font-medium">Publisher Email:</span>
              {{ publisherDetails()?.user?.email }}
            </div>
            <div>
              <span class="font-medium">Designation:</span>
              {{ publisherDetails()?.designation }}
            </div>

            <div class="sm:col-span-2 lg:col-span-3">
              <span class="font-medium">Address:</span>
              <span class="block mt-1 text-gray-700 break-words">
                {{ completeAddress() }}
              </span>
            </div>
          </div>
        </div>

        <!-- ================= BANK DETAILS ================= -->
        <div class="mt-10">
          <h3 class="text-lg font-semibold text-gray-800 mb-4">
            {{ "bankdetails" | translate }}
          </h3>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 text-sm"
          >
            <div>
              <span class="font-medium">Bank Name:</span>
              {{ publisherDetails()?.bankDetails?.[0]?.name || "Not Provided" }}
            </div>
            <div>
              <span class="font-medium">Account Number:</span>
              {{ publisherDetails()?.bankDetails?.[0]?.accountNo }}
            </div>
            <div>
              <span class="font-medium">IFSC Code:</span>
              {{ publisherDetails()?.bankDetails?.[0]?.ifsc }}
            </div>
            <div>
              <span class="font-medium">Account Type:</span>
              {{ publisherDetails()?.bankDetails?.[0]?.accountType }}
            </div>
            <div>
              <span class="font-medium">PAN Number:</span>
              {{ publisherDetails()?.bankDetails?.[0]?.panCardNo }}
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    @if (loggedInUser()?.accessLevel === 'SUPERADMIN' ||
    (loggedInUser()?.accessLevel === 'PUBLISHER' && publisherDetails()?.type !==
    'Sub_Publisher') || loggedInUser()?.id === publisherDetails()?.user?.id) {
    <!-- Books Published -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "bookspublished" | translate }}
        </span>
      </ng-template>
      <section
        id="books-published"
        class="mt-10 bg-white p-6 rounded-xl shadow"
      >
        <div class="flex justify-between">
          <h2 class="heading mb-4">{{ "bookspublished" | translate }}</h2>
          <mat-form-field>
            <mat-label>{{ "filter" | translate }}</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>
        </div>
        <div class="overflow-x-auto">
          <app-list-table
            class="pt-6"
            [dataSource]="bookPublishData"
            [displayedColumns]="displayedColumns"
          >
          </app-list-table>
        </div>
      </section>
    </mat-tab>
    <!-- Authors -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "authors" | translate }}
        </span>
      </ng-template>
      <section id="authors" class="mt-10 bg-white p-6 rounded-xl shadow">
        <div class="flex justify-between">
          <h2 class="heading mb-4">{{ "authors" | translate }}</h2>
          <mat-form-field>
            <mat-label>{{ "filter" | translate }}</mat-label>
            <input
              matInput
              (input)="applyAuthorFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>
        </div>
        <div class="overflow-x-auto">
          <app-list-table
            class="pt-6"
            [dataSource]="authorData"
            [displayedColumns]="displayedAuthorColumns"
          >
          </app-list-table>
        </div>
      </section>
    </mat-tab>
    <!-- Sub-Publishers -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "subpublishers" | translate }}
        </span>
      </ng-template>
      <section id="sub-publishers" class="mt-10 bg-white p-6 rounded-xl shadow">
        <div class="flex justify-between">
          <h2 class="heading mb-4">{{ "subpublishers" | translate }}</h2>
          <mat-form-field>
            <mat-label>{{ "filter" | translate }}</mat-label>
            <input
              matInput
              (keyup)="applySubPublisherFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>
        </div>
        <div class="overflow-x-auto">
          <app-list-table
            class="pt-6"
            [dataSource]="subPublisherData"
            [displayedColumns]="displayedSubPublisherColumns"
          >
          </app-list-table>
        </div>
      </section>
    </mat-tab>
    }

    <!-- Royalties -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "royalties&wallet" | translate }}
        </span>
      </ng-template>
      <section
        id="royalties"
        class="mt-10 bg-white p-6 rounded-xl shadow flex flex-col gap-6"
      >
        <div class="flex justify-between">
          <h2 class="heading">{{ "Royalties&Wallet" | translate }}</h2>
          <mat-form-field>
            <mat-label>{{ "filter" | translate }}</mat-label>
            <input
              matInput
              (keyup)="applyRoyaltyFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>
        </div>
        <ul class="space-y-2">
          <li>
            🪙 {{ "walletbalance" | translate }} :
            <label class="font-medium">{{
              (publisherDetails()?.user?.wallet?.totalAmount || 0) -
                (publisherDetails()?.user?.wallet?.holdAmount || 0)
                | currency : "INR"
            }}</label>
          </li>
          <li>
            ⏳{{ "onhold" | translate }} :
            <label class="font-medium">{{
              publisherDetails()?.user?.wallet?.holdAmount || 0
                | currency : "INR"
            }}</label>
          </li>
        </ul>
        <div class="overflow-x-auto">
          <app-list-table
            [dataSource]="royaltyData"
            [displayedColumns]="displayedRoyaltyColumns()"
          >
          </app-list-table>
        </div>
      </section>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "publishingpoints" | translate }}
        </span>
      </ng-template>

      <section
        id="publishing-points"
        class="mt-10 bg-white p-6 rounded-xl shadow"
      >
        @if (publishingpoints().length) {
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
          @for (point of publishingpoints(); track $index) {
          <div
            class="group border border-[var(--primary-superlight)] rounded-xl p-4 bg-gradient-to-br from-white to-[var(--light-purple-bg)] hover:shadow-lg hover:scale-[1.02] transition-all"
          >
            <!-- Header Row -->
            <div class="flex items-center justify-between mb-3">
              <div class="flex items-center gap-2">
                <div
                  class="p-2 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)]"
                >
                  <mat-icon>redeem</mat-icon>
                </div>
                <h5
                  class="font-medium text-[var(--text-heading)] text-base capitalize"
                >
                  {{ point.distributionType.replace("_", " ") }}
                </h5>
              </div>
              <span
                class="text-[var(--green-2)] text-xs font-medium bg-[var(--light-green-bg)] px-3 py-1 rounded-full border border-[var(--light-green-2)]"
              >
                {{ point.availablePoints }} Points
              </span>
            </div>

            <!-- Details -->
            <div class="text-sm text-[var(--text-primary)]">
              <p class="flex items-center">
                <span class="font-medium text-[var(--text-heading)]">ID:</span>
                <span
                  class="ml-2 px-2 py-[2px] rounded bg-[var(--primary-superlight)] text-[var(--primary)] font-medium text-xs"
                  >{{ point.id }}</span
                >
              </p>
              <p class="mt-2">
                <span class="font-medium text-[var(--text-heading)]"
                  >Created:</span
                >
                <span class="ml-2 text-xs text-gray-600">{{
                  point.createdAt | date : "mediumDate"
                }}</span>
              </p>
            </div>

            <!-- Buy Button -->
            <div class="mt-4 flex justify-end">
              <app-buy-assign-points-button
                [returnUrl]="returnUrl()"
                [distributionType]="point.distributionType"
                [publisherId]="publisherId"
                [publisherName]="publisherDetails()?.name"
                (onSuccess)="onPointsPurchased()"
              ></app-buy-assign-points-button>
            </div>
          </div>
          }
        </div>
        } @else {
        <div
          class="flex flex-col justify-center p-8 bg-[var(--light-purple-bg)] rounded-2xl border border-[var(--primary-light)]"
        >
          <!-- Show all 5 Distribution Channels -->
          <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 mt-6">
            @for (type of distributionType(); track type) {
            <div
              class="group border border-[var(--primary-superlight)] rounded-xl p-4 bg-gradient-to-br from-white to-[var(--light-purple-bg)] hover:shadow-lg hover:scale-[1.02] transition-all"
            >
              <div class="flex items-center gap-2 mb-3">
                <div
                  class="p-2 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)]"
                >
                  <mat-icon>storefront</mat-icon>
                </div>
                <h5
                  class="font-medium text-[var(--text-heading)] text-base capitalize"
                >
                  {{ type.replace("_", " ") }}
                </h5>
              </div>

              <div class="text-sm text-[var(--text-primary)]">
                <p>No points purchased yet for this channel.</p>
              </div>

              <div class="mt-4 flex justify-end">
                <app-buy-assign-points-button
                  [returnUrl]="returnUrl()"
                  [distributionType]="type"
                  [publisherId]="publisherId"
                  [publisherName]="publisherDetails()?.name"
                  (onSuccess)="onPointsPurchased()"
                ></app-buy-assign-points-button>
              </div>
            </div>
            }
          </div>
        </div>
        }
      </section>
    </mat-tab>

    <!-- Published Links -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "publishedlinks" | translate }}
        </span>
      </ng-template>
      <section
        id="published-links"
        class="mt-10 bg-white p-6 rounded-xl shadow"
      >
        <h2 class="heading mb-4">Published Links</h2>
        <ul class="list-disc pl-6">
          @for (distribution of distributions(); track $index) {
          <li>
            <a target="_blank" [href]="distribution.link" class="text-blue-600">
              {{ distribution.type | translate }}
            </a>
          </li>
          }
        </ul>
      </section>
    </mat-tab>
    <!-- Attachments -->
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-text-heading font-medium">
          {{ "attachments" | translate }}
        </span>
      </ng-template>
      <section id="attachments" class="mt-10 bg-white p-6 rounded-xl shadow">
        <h2 class="heading mb-4">Attachments</h2>
        <ul class="list-disc pl-6">
          <li><a href="#" class="text-blue-600">PAN Document</a></li>
          <li><a href="#" class="text-blue-600">Publisher Agreement</a></li>
        </ul>
      </section>
    </mat-tab> -->
  </mat-tab-group>
</div>
