table {
  @apply w-full border;
  border-radius: 0.5rem;
  background-color: var(--primary-light);
}

.mat-mdc-form-field {
  color: var(--text-primary);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.mat-mdc-header-row {
  color: var(--text-primary);
  background-color: var(--primary-light) !important;
}
