<div class="flex flex-col flex-grow gap-4">
   


<div class="flex justify-between items-center ">
    <h3 class="heading">{{"publisherdetails" | translate}}</h3>
    <app-back></app-back>
</div>
    <div>
    
    <nav class="sticky top-0 bg-[var(--surface)] z-10 shadow-sm py-4">
      <ul class="flex flex-wrap gap-4">
        <li><a href="#publisher-details" class="btn">{{"publisherdetails" |translate}}</a></li>
        <li><a href="#books-published" class="btn">{{"bookspublished" | translate}}</a></li>
        <li><a href="#authors" class="btn">{{"authors"| translate}}</a></li>
        <li><a href="#sub-publishers" class="btn">{{"subpublishers" | translate}}</a></li>
        <li><a href="#royalties" class="btn">{{"royalties&wallet"|translate}}</a></li>
        <li><a href="#published-links" class="btn">{{"publishedlinks" | translate}}</a></li>
        <li><a href="#attachments" class="btn">{{"attachments" | translate}}</a></li>
      </ul>
    </nav>

    
    <section id="publisher-details" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">{{"publisherdetails" | translate}}</h2>
      <ul class="space-y-2 grid grid-cols-3 gap-4">
        <li class="text-text"><strong>{{"companyname"| translate}} :</strong> {{publisherDetails()?.companyName}}</li>
        <li class="text-text"><strong>{{"emailidofficial" | translate}} :</strong> {{publisherDetails()?.companyEmailId}}</li>
        <li class="text-text"><strong>{{"publishername"| translate}} :</strong> {{publisherDetails()?.name}}</li>
        <li class="text-text"><strong>{{"publishercontactnumber" | translate}} :</strong>{{publisherDetails()?.phoneNumber}}</li>
        <li class="text-text"><strong>{{"publisheremailid" | translate}} :</strong> {{publisherDetails()?.email}}</li>
        <li class="text-text"><strong>{{"publisherdesignation" | translate}} :</strong> {{publisherDetails()?.publisherDesignation}}</li>
             <li class="text-text"><strong>{{"address" | translate}} :</strong> {{publisherDetails()?.address}}</li>

      </ul>
    </section>

    <!-- Books Published -->
    <section id="books-published" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">{{"bookspublished" | translate}}</h2>
      <ul class="space-y-4">
        <li  class="grid grid-cols-6 px-4 py-3 text-sm font-medium text-[var(--text-primary)] bg-[var(--surface-alt)] border-bottom ">
          <div>{{"bookname" | translate}}</div>
          <div>{{"ISBN" | translate}} </div>
          <div>{{"title" | translate}}</div>
          <div>{{"royaltiesearned" | translate}}</div>
          <div>{{"authorid" | translate}}</div>
          <div>{{"links" | translate}}</div>
        </li>
      </ul>
      <ul ngif="booksPublished && booksPublished.length > 0" class="divide-y">
    <li
      *ngFor="let book of booksPublished();let i = index"
      class="grid grid-cols-6 px-4 py-3 text-sm text-[var(--text-secondary)] border-bottom hover:bg-gray-50 dark:hover:bg-[var(--surface-alt)] transition"
    >
      <div>{{ book.bookName}}</div>
      <div>{{ book.ISBN }}</div>
      <div>{{ book.title}}</div>
      <div>{{ book.royaltiesEarned }}</div>
      <div>{{ book.authorId }}</div>
  <div>
    {{ book.links && book.links.length > 0 ? book.links.join(', ') : 'No links available'     }}
  </div>
    </li>
  </ul>
    </section>

    <!-- Authors -->
    <section id="authors" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">{{"authors" | translate}}</h2>
      <ul class="space-y-4">
        <li  class="grid grid-cols-6 px-4 py-3 text-sm font-medium text-[var(--text-primary)] bg-[var(--surface-alt)] border-bottom ">
          <div>{{"name" | translate}}</div>
          <div>{{"email" | translate}}</div>
          <div>{{"phonenumber" | translate}}</div>
          <div>{{"titles"| translate}}</div>
          <div>{{"royaltyearned" | translate}}</div>
          <div>{{"links"| translate}}</div>
        </li>
      </ul>
       <ul ngif="authors && authors.length > 0" class="divide-y">
    <li
      *ngFor="let author of authors();let i = index"
      class="grid grid-cols-6 px-4 py-3 text-sm text-[var(--text-secondary)] border-bottom hover:bg-gray-50 dark:hover:bg-[var(--surface-alt)] transition"
    >
      <div>{{ author.name}}</div>
      <div>{{author.email }}</div>
      <div>{{ author.phoneNumber}}</div>
      <div>{{ author.titles }}</div>
      <div>{{ author.royalty }}</div>
      <div>
        {{author.links}}
      </div>
  <div>
    {{ author.links && author.links.length > 0 ? author.links.join(', ') : 'No links available'     }}
  </div>
    </li>
  </ul>
    </section>

    <!-- Sub-Publishers -->
    <section id="sub-publishers" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">{{"subpublishers" | translate}}</h2>
      <ul class="space-y-4">
        <li  class="grid grid-cols-6 px-4 py-3 text-sm font-medium text-[var(--text-primary)] bg-[var(--surface-alt)] border-bottom ">
          <div>{{"name"| translate}}</div>
          <div>{{"emailid"| translate}}</div>
          <div>{{"phonenumber" | translate}}</div>
          <div>{{"nooftitles" | translate}}</div>
          <div>{{"noofauthors"| translate}}</div>
          <div>{{"companyname" | translate}}</div>
        </li>
      </ul>
      <ul ngif="authors && authors.length > 0" class="divide-y">
    <li
      *ngFor="let subPublisher of subPublishers();let i = index"
      class="grid grid-cols-6 px-4 py-3 text-sm text-[var(--text-secondary)] border-bottom hover:bg-gray-50 dark:hover:bg-[var(--surface-alt)] transition"
    >
      <div>{{ subPublisher.name}}</div>
      <div>{{subPublisher.email }}</div>
      <div>{{ subPublisher.phoneNumber}}</div>
      <div>{{ subPublisher.noOftitles }}</div>
      <div>{{ subPublisher.noOfauthors }}</div>
      <div>
        {{subPublisher.companyName}}
      </div>

    </li>
  </ul>

    </section>

    <!-- Royalties -->
    <section id="royalties" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">{{"Royalties&Wallet" | translate}}</h2>
      <ul class="space-y-2 ">
        <li>🪙 {{"walletbalance" | translate}}: {{wallet()?.balance}}</li>
        <li>⏳{{"onhold" | translate}}:{{wallet()?.onHold}}</li>
      </ul>
      <ul class="space-y-4">
        <li class="grid grid-cols-7 px-4 py-3 text-sm font-medium text-[var(--text-primary)] bg-[var(--surface-alt)] border-bottom ">
          <div>{{"date" | translate}}</div>
          <div>{{"authorname" | translate}}</div>
          <div>{{"booktitle" | translate}}</div>
          <div>{{"sales" | translate}}</div>
          <div>{{"royaltyfromsales" | translate}}</div>
          <div>{{"publisherearnings" | translate}}</div>
          <div>{{"royaltyamount" | translate}}</div>
        </li>
     
        <li *ngFor=" let royalty of royalties()" class="grid grid-cols-7 px-4 py-3 text-sm text-[var(--text-secondary)] border-bottom hover:bg-gray-50 dark:hover:bg-[var(--surface-alt)] transition">
          <div>{{royalty.date}}</div>
          <div>{{royalty.authorName}}</div>
          <div>{{royalty.bookTitle}}</div>
          <div>{{royalty.sales}}</div>
          <div>{{royalty.royaltyFromSales}}</div>
          <div>{{royalty.publisherEarnings}}</div>
          <div>{{royalty.royaltyAmount}}</div>  
          </li>
      </ul>
    </section>


    <!-- Published Links -->
    <section id="published-links" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">Published Links</h2>
      <ul class="list-disc pl-6">
        <li><a href="#" class="text-blue-600">The Lost City – Amazon</a></li>
        <li><a href="#" class="text-blue-600">Science Experiments – Website</a></li>
      </ul>
    </section>

    <!-- Attachments -->
    <section id="attachments" class="mt-10 bg-white p-6 rounded-xl shadow">
      <h2 class="heading mb-4">Attachments</h2>
      <ul class="list-disc pl-6">
        <li><a href="#" class="text-blue-600">PAN Document</a></li>
        <li><a href="#" class="text-blue-600">Publisher Agreement</a></li>
      </ul>
    </section>
</div>
</div>