table {
  @apply w-full border  bg-primary-light;
  border-radius: 8px;
}

.mat-mdc-form-field {
  @apply text-sm text-text-primary bg-primary-light;
}
.mat-mdc-header-row {
  @apply !bg-primary-light text-text-primary;
}
