<main
  class="flex min-h-screen bg-gray-50 text-slate-800"
  [ngClass]="{
    'flex-col': !showSidebar()
  }"
>
  <!-- Sidebar -->
  @if (showSidebar()) {
  <aside
    class="group z-30 h-screen bg-primary-superlight transition-all duration-300 w-[80px] hover:w-[260px] shadow-md sticky top-0"
  >
    <app-sidebar></app-sidebar>
  </aside>
  }

  <!-- Main Section -->
  <section class="flex-1 flex flex-col min-h-screen overflow-hidden">
    <!-- Header -->
    @if (showHeader()) {
    <app-header class="sticky top-0 z-20 shadow-sm"></app-header>
    }

    <!-- Page Content -->
    <div
      class="flex-1 p-6 md:p-8 overflow-y-auto overflow-x-hidden transition-all duration-300 flex flex-col"
    >
      <ng-content></ng-content>
    </div>
  </section>
</main>
