<form [formGroup]="titleDetailsGroup()">
  <div class="mt-4">
    <div>
      <div class="grid-cols-2 grid gap-4 my-4 items-start">
        <div class="grid">
          <div class="w-full">
            <mat-form-field class="!w-full flex">
              <mat-label>
                {{ "isbnnumber" | translate }}
                {{ titleDetailsGroup().controls.isbnPrint.value || "noisbn" }}
              </mat-label>
              <input
                matInput
                placeholder=""
                formControlName="isbnPrint"
                [maxlength]="13"
                [minlength]="13"
              />
              <button
                mat-stroked-button
                type="button"
                matButton="filled"
                class="!bg-green-600 !text-white !h-[28px] disabled:!bg-gray-500"
                (click)="verifyIsbnPrint()"
                [disabled]="
                  !titleDetailsGroup().get('isbnPrint.isbnNumber')?.valid ||
                  isVerifying()
                "
              >
                @if (!isVerifying()) { Verify } @else {
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate"
                  class="inline-block align-middle text-white !fill-white"
                />
                }
              </button>
            </mat-form-field>
          </div>
          <div class="text-sm">
            @if (isbnVerified() === true) {
            <span class="text-green-600">✔ ISBN Verified</span>
            } @else if (isbnVerified() === false) {
            <span class="text-red-600">✘ Invalid ISBN</span>
            }
          </div>
        </div>
        <div class="grid">
          <div class="w-full">
            <mat-form-field class="!w-full flex">
              <mat-label>
                {{ "isbnebook" | translate }}
              </mat-label>
              <input
                matInput
                placeholder=""
                formControlName="isbnEbook"
                [maxlength]="13"
                [minlength]="13"
              />
              <button
                mat-stroked-button
                type="button"
                matButton="filled"
                class="!bg-green-600 !text-white !h-[28px] disabled:!bg-gray-500"
                (click)="verifyIsbnEbook()"
                [disabled]="
                  !titleDetailsGroup().get('isbnEbook.isbnNumber')?.valid ||
                  isISBNEbookErifying()
                "
              >
                @if (!isISBNEbookErifying()) { Verify } @else {
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate"
                  class="inline-block align-middle text-white !fill-white"
                />
                }
              </button>
            </mat-form-field>
          </div>
          <div class="text-sm">
            @if (isbnEbookVerified() === true) {
            <span class="text-green-600">✔ ISBN Verified</span>
            } @else if (isbnEbookVerified() === false) {
            <span class="text-red-600">✘ Invalid ISBN</span>
            }
          </div>
        </div>
        <mat-form-field>
          <mat-label>{{ "titlename" | translate }}</mat-label>
          <input
            matInput
            placeholder="Book Title"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "subtitle" | translate }}</mat-label>
          <input matInput placeholder="Sub Title" formControlName="subTitle" />
        </mat-form-field>
      </div>

      <div class="grid grid-cols-2 gap-4 items-start">
        <mat-form-field>
          <mat-label>{{ "themeofbooksubject" | translate }}</mat-label>
          <input matInput formControlName="subject" required />
          @if(titleDetailsGroup().controls.subject.hasError('minWords')) {
          <mat-error> Subject must be at least 5 words. </mat-error>
          }
        </mat-form-field>
        <div class="grid grid-cols-2 gap-4">
          <mat-form-field>
            <mat-label> {{ "language" | translate }} </mat-label>
            <mat-select formControlName="language" required>
              @for (language of languages(); track $index) {
              <mat-option [value]="language">{{ language }}</mat-option>
              <mat-option [value]="language">{{ language }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ "bookedition" | translate }}</mat-label>
            <input matInput formControlName="edition" type="number" required />
          </mat-form-field>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 items-start">
        <mat-form-field>
          <mat-label>
            {{ "longdescription" | translate }}
          </mat-label>
          <textarea
            matInput
            formControlName="longDescription"
            rows="4"
            required
          ></textarea>
          @if(titleDetailsGroup().controls.longDescription.hasError('minWords'))
          {
          <mat-error> longDescription must be at least 20 words. </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label> {{ "shortdescription" | translate }} </mat-label>
          <textarea
            matInput
            formControlName="shortDescription"
            rows="4"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="grid grid-cols-4 gap-4 items-start">
        <mat-form-field>
          <mat-label>{{ "category" | translate }}</mat-label>
          <mat-select
            formControlName="category"
            required
            (selectionChange)="getSubcategory($event.value)"
          >
            @for (item of TitleCategory(); track $index) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ "subcategory" | translate }}
          </mat-label>
          <mat-select formControlName="subCategory" required>
            @for (item of subCategory(); track $index) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ "genre" | translate }}
          </mat-label>
          <mat-select formControlName="genre" required>
            @for (item of TitleGenre(); track $index) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ "tradecategory" | translate }}
          </mat-label>
          <mat-select formControlName="tradeCategory" required>
            @for (item of tradeCategory(); track $index) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="grid grid-cols-2 gap-4 items-start my-4"
        formGroupName="publisher"
      >
        <mat-form-field>
          <mat-label>Select Publisher</mat-label>
          <mat-select
            formControlName="id"
            (selectionChange)="
              onPublisherChange($event.value);
              onPublisherChangeChild.emit($event.value)
            "
          >
            @for (item of publishers(); track $index) {
            <mat-option [value]="item.id">
              {{ item.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>{{ "displaynameforpublisher" | translate }}</mat-label>
            <input
              matInput
              formControlName="displayName"
              [readonly]="titleDetailsGroup().get('publisher.keepSame')?.value"
            />
          </mat-form-field>
          <div class="flex gap-2 self-start">
            <input
              type="checkbox"
              class="w-4"
              formControlName="keepSame"
              (change)="onPublisherKeepSameChange($event)"
              checked
            />
            <label>{{
              "keepdisplaynamesameaspublishername" | translate
            }}</label>
          </div>
        </div>
      </div>
      <div formArrayName="authorIds" class="grid grid-cols-2 gap-4 my-4">
        @for(item of titleDetailsGroup().controls.authorIds.controls ; track
        'author' + $index){
        <div class="flex flex-col">
          <div class="grid grid-cols-[0.8fr_0.8fr_0.2fr] items-start gap-2">
            <mat-form-field class="w-full">
              <mat-label>Author</mat-label>
              <mat-select
                [formControl]="item.controls.id"
                (selectionChange)="
                  onAuthorChange($index, $event.value);
                  onAuthorChangeChild.emit($event.value)
                "
              >
                @for(author of authorsList() ; track $index) {
                <mat-option [value]="author.id">
                  {{ author.user.firstName + " " + author.user.lastName }} ({{
                    author.username
                  }}) ({{ author.id }})
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "displaynameforauthor" | translate }}</mat-label>
              <input
                matInput
                [formControl]="item.controls.displayName"
                [readonly]="item.controls.keepSame.value"
              />
            </mat-form-field>

            <button
              class="self-center !bg-accent"
              mat-icon-button
              color="warn"
              (click)="removeAuthor($index)"
            >
              <mat-icon class="!fill-white">delete</mat-icon>
            </button>
          </div>

          <div class="flex gap-2 self-start">
            <input
              type="checkbox"
              class="w-4"
              [formControl]="item.controls.keepSame"
              (change)="onAuthorKeepSameChange($index, $event)"
              checked
            />
            <label>{{ "keepdisplaynamesameasauthorname" | translate }}</label>
          </div>
        </div>

        }
        <button
          class="w-max self-start mt-2"
          mat-stroked-button
          color="primary"
          type="button"
          (click)="addAuthor()"
        >
          <mat-icon>add</mat-icon> Add Author
        </button>
      </div>
      <div class="flex flex-col gap-4">
        <mat-radio-group
          formControlName="keywordOption"
          aria-label="Select keyword option"
        >
          <mat-radio-button value="auto">
            {{ "generatekeywordsAutomatically" | translate }}
          </mat-radio-button>
          <mat-radio-button value="manual">
            {{ "updatekeywordsManually" | translate }}
          </mat-radio-button>
        </mat-radio-group>
        @if( this.titleDetailsGroup().controls.keywordOption.value ===
        'manual'){

        <mat-form-field class="col-span-2">
          <mat-label>{{ "enterKeywords" | translate }} ({{ ";" }})</mat-label>
          <textarea
            matInput
            formControlName="manualKeywords"
            placeholder="keyword1; keyword2; keyword3"
          ></textarea>
        </mat-form-field>
        } @if(this.titleDetailsGroup().controls.keywordOption.value=== 'auto'){
        <mat-form-field class="col-span-2">
          <textarea
            matInput
            formControlName="autoKeywords"
            readonly
            placeholder="Automatically generated keywords"
          ></textarea>
        </mat-form-field>
        }
      </div>
    </div>
  </div>
</form>
