<table
  mat-table
  [dataSource]="royaltyRows"
  class="mat-elevation-z8 !rounded-2xl overflow-hidden !shadow-lg mt-4"
>
  <!-- Party column -->
  <ng-container matColumnDef="party">
    <th mat-header-cell *matHeaderCellDef>Party</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <!-- Dynamic channel columns -->
  @for (channel of channelOptions; track $index) {
  <ng-container [matColumnDef]="channel.value">
    <th mat-header-cell *matHeaderCellDef>{{ channel.label }}</th>
    <td mat-cell *matCellDef="let row">
      <input
        matInput
        type="number"
        [(ngModel)]="row[channel.value]"
        placeholder="%"
        class="!w-20 !rounded-md !border !border-gray-300 !px-2 !py-1 text-sm focus:!border-primary focus:!ring-1 focus:!ring-primary"
      />
    </td>
  </ng-container>
  }

  <!-- Header row -->
  <tr
    class="!bg-primary-light text-white font-medium"
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>

  <!-- Data row -->
  <tr
    class="!bg-white hover:!bg-gray-50 transition"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <!-- No data row -->
  <tr class="mat-row text-center text-gray-500" *matNoDataRow>
    <td class="p-4" [attr.colspan]="displayedColumns.length">
      No royalties defined
    </td>
  </tr>
</table>

<div class="mt-4 flex justify-end">
  <!-- <button
    mat-raised-button
    color="primary"
    class="!rounded-xl !px-6 !py-2 !font-semibold"
    (click)="submitRoyalties()"
  >
    Submit
  </button> -->
</div>
