<div class="flex flex-col gap-4 mt-8">
  <ul class="royalties-container">
    <li>
      <span>{{ "name" | translate }}</span>
      <span>{{ "royaltytype" | translate }}</span>
      @for (columns of displayedColumns(); track $index) {
      <span>{{ columns | translate }}</span>
      }
    </li>

    @for (royaltyGroup of royaltiesController().controls; track $index) {
    <li>
      <span>{{ royaltyGroup.controls.name.value || "N/A" }}</span>
      <span>
        {{ royaltyGroup.controls.publisherId.value ? "PUBLISHER" : "AUTHOR" }}
      </span>

      @for (column of displayedColumns(); track $index) {
      <span>
        <input
          [formControl]="royaltyGroup.controls[column]"
          type="number"
          class="w-0 min-w-full"
        />
      </span>
      }
    </li>
    }
    <li>
      <span>{{ "totalroyalties" | translate }}</span>
      <span></span>
      @for (column of displayedColumns(); track $index) {
      <span
        class="font-medium"
        [ngClass]="{
          'bg-red-500 text-white': totalRoyaties()[column] > 100
        }"
        [title]="royaltiesController().getError('invalid') || ''"
      >
        {{ totalRoyaties()[column] }}
      </span>
      }
    </li>
  </ul>

  <div class="flex flex-col gap-2">
    <h2 class="text-lg font-medium">Calculations</h2>

    <ul class="royalties-container">
      <li class="!grid-cols-6">
        <span>{{ "name" | translate }}</span>
        @for (item of displayedColumns(); track $index) {
        <span>{{ item | translate }}</span>
        }
      </li>

      @for (royaltyGroup of royaltiesController().controls; track $index) {
      <li class="!grid-cols-6">
        <span class="">{{ royaltyGroup.controls.name.value }}</span>

        @for (item of displayedColumns(); track $index) {
        <span>
          {{
            (totalRoyaltiesAmount()[
              royaltyGroup.controls.authorId.value ? "authors" : "publisher"
            ][
              royaltyGroup.controls.authorId.value ||
                royaltyGroup.controls.publisherId.value ||
                0
            ]?.[item] || 0) | currency
          }}
        </span>
        }
      </li>
      }
    </ul>
  </div>
</div>
