.royalties-container {
  grid-column: 1/-1;
  --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  background-color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.royalties-container li {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.royalties-container > li:first-child {
  font-weight: 500;
}

.royalties-container > li:not(:last-child) {
  border-bottom: 1px solid gray;
}

.royalties-container > li > span {
  padding: calc(var(--spacing) * 2);
}

.royalties-container > li > span:not(:last-child) {
  border-right: 1px solid gray;
}
