<div class="flex flex-col flex-grow gap-4">
  <h3 class="heading">
    {{ "ISBN List" | translate }}
  </h3>

  <!-- Search + Apply ISBN -->
  <div class="flex justify-between w-full gap-4">
    <div
      class="flex h-[38px] items-center justify-center md:min-w-[480px] min-w-full gap-2"
    >
      <input
        class="input-field outline-none w-full"
        #input
        (input)="searchStr.next(input.value)"
        [placeholder]="'search' | translate"
      />

      <button
        class="btn h-[38px] flex items-center self-end justify-center gap-2"
        (click)="searchStr.next(input.value)"
      >
        <svg-icon
          src="images/magnifying-glass-solid-full.svg"
          class="w-4 fill-white flex"
        ></svg-icon>
        {{ "search" | translate }}
      </button>
    </div>

    <div class="flex gap-4 items-center justify-center">
      <button
        class="!bg-primary flex items-center gap-2 !text-white rounded-md p-2"
        matButton="filled"
        matButton
        (click)="createIsbn()"
      >
        <mat-icon class="material-icons">person_add</mat-icon>
        {{ "applyisbn" | translate }}
      </button>
    </div>
  </div>

  <!-- Status filter buttons -->
  <div class="flex w-full gap-4 mt-4">
    <button
      class="btn rounded-md !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white':
          lastSelectedStatus === isbnStatusEnum.PENDING,
        '!bg-primary-superlight': lastSelectedStatus !== isbnStatusEnum.PENDING
      }"
      (click)="selectStatus(isbnStatusEnum.PENDING)"
    >
      <mat-icon>hourglass_top</mat-icon>
      PENDING
    </button>
    <button
      class="btn rounded-md !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white':
          lastSelectedStatus === isbnStatusEnum.APPLIED,
        '!bg-primary-superlight': lastSelectedStatus !== isbnStatusEnum.APPLIED
      }"
      (click)="selectStatus(isbnStatusEnum.APPLIED)"
    >
      <mat-icon color="primary">verified</mat-icon>
      APPLIED
    </button>

    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white':
          lastSelectedStatus === isbnStatusEnum.APPROVED,
        '!bg-primary-superlight': lastSelectedStatus !== isbnStatusEnum.APPROVED
      }"
      (click)="selectStatus(isbnStatusEnum.APPROVED)"
    >
      <mat-icon>check_circle</mat-icon>
      APPROVED
    </button>

    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white':
          lastSelectedStatus === isbnStatusEnum.DELETED,
        '!bg-primary-superlight': lastSelectedStatus !== isbnStatusEnum.DELETED
      }"
      (click)="selectStatus(isbnStatusEnum.DELETED)"
    >
      <mat-icon>delete</mat-icon>
      DELETED
    </button>

    <button
      class="btn rounded-md !text-primary"
      matButton="filled"
      matButton
      type="button"
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === 'ALL',
        '!bg-primary-superlight': lastSelectedStatus !== 'ALL'
      }"
      (click)="selectStatus('ALL')"
    >
      <mat-icon>format_list_bulleted</mat-icon>
      All
    </button>
  </div>

  <!-- Table -->
  <app-list-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionTemplate]="actionButtons"
    [editIsbnTemplate]="assignisbn"
  >
  </app-list-table>

  <!-- Inline ISBN column template (only for APPLIED) -->
  <ng-template #assignisbn let-element>
    @if (lastSelectedStatus === isbnStatusEnum.APPLIED) {

    <div class="flex items-center gap-2">
      <input
        type="text"
        class="border border-primary rounded-md px-2 py-1 w-40"
        [formControl]="getIsbnControl(element.id)"
        placeholder="Enter ISBN"
        appIsbnFormat
        appIsbnClean
      />

      <!-- Validation message -->
      @if (getIsbnControl(element.id).errors?.['invalid']) {
      <small class="text-red-600">
        {{ getIsbnControl(element.id).errors?.['invalid'] }}
      </small>
      }
      <button
        matIconButton
        class="!bg-green-600 text-white rounded-full p-1"
        [disabled]="
          getIsbnControl(element.id).invalid ||
          getIsbnControl(element.id).pending
        "
        (click)="saveInlineISBN(element)"
      >
        <mat-icon class="material-icons text-sm !text-white">check</mat-icon>
      </button>
    </div>

    }
  </ng-template>

  <!-- Action buttons column -->
  <ng-template #actionButtons let-element>
    <div class="flex gap-2 text-sm items-center lg:flex-wrap">
      @if (element.image && element.status !== 'REJECTED') {
      <button
        class="!bg-primary flex items-center gap-2 !text-white rounded-md p-2"
        matButton="filled"
        matButton
        (click)="downloadBarCode(element.isbnnumber)"
      >
        <mat-icon class="material-icons">download</mat-icon>
        {{ "barcode" | translate }}
      </button>
      } @if (element.bunko && element.status !== 'REJECTED') {
      <button
        class="!bg-primary flex items-center gap-2 !text-white rounded-md p-2"
        matButton="filled"
        matButton
        (click)="downloadBunko(element)"
      >
        <mat-icon class="material-icons">download</mat-icon>
        {{ "bunko" | translate }}
      </button>
      } @if (element.status === 'PENDING') {
      <button
        class="!bg-primary flex items-center gap-2 !text-white rounded-full p-2"
        matIconButton
        (click)="createIsbn(element)"
      >
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
      } @if (element.isbnNumber && element.status === 'PENDING' &&
      loggedInUser$()?.accessLevel === 'SUPERADMIN') {

      <button
        class="!bg-green-600 flex items-center gap-2 !text-white rounded-full p-2"
        matIconButton
        (click)="onISBNStatusChange(element.id, 'APPROVED')"
      >
        <mat-icon class="material-icons">thumb_up</mat-icon>
      </button>

      <button
        class="!bg-red-500 flex items-center gap-2 !text-white rounded-full p-2"
        matIconButton
        (click)="onISBNStatusChange(element.id, 'REJECTED')"
      >
        <mat-icon class="material-icons">thumb_down</mat-icon>
      </button>
      }
    </div>
  </ng-template>
</div>
