@switch (stepperOrientation | async) { @case ('horizontal') { } @case
('vertical') { } }

<h3 class="heading">
  {{ "uploadtitle" | translate }}
</h3>
<mat-stepper
  class="example-stepper !my-4"
  [orientation]="(stepperOrientation | async)!"
  [linear]="true"
  [animationDuration]="'500'"
>
  <mat-step
    [stepControl]="formatCtrl"
    class="!text-accent !p-0"
    label="Choose Format"
  >
    <form [formGroup]="titleForm">
      <div class="flex flex-col gap-8">
        <h3 class="heading self-center !text-[1.6rem] !font-medium">
          {{ "inwhichformatyouwouldliketouploadthetitle" | translate }}??
        </h3>
        <div class="grid grid-cols-3 gap-8">
          <button
            type="button"
            class="btn border-2 !border-primary flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('format')?.value === 'printAndEbook',
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('format')?.value !== 'printAndEbook'
            }"
            (click)="titleForm.get('format')?.setValue('printAndEbook')"
          >
            <svg-icon
              class="fill-primary"
              src="images/print-ebook.svg"
            ></svg-icon>
            {{ "print&ebook" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('format')?.value === 'printOnly',
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('format')?.value !== 'printOnly'
            }"
            (click)="titleForm.get('format')?.setValue('printOnly')"
          >
            <svg-icon class="fill-primary" src="images/print.svg"></svg-icon>
            {{ "printbookonly" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('format')?.value === 'ebookOnly',
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('format')?.value !== 'ebookOnly'
            }"
            (click)="titleForm.get('format')?.setValue('ebookOnly')"
          >
            <svg-icon class="fill-primary" src="images/ebook.svg"></svg-icon>
            {{ "ebookonly" | translate }}
          </button>
        </div>
        @if(titleForm.get('format')?.value) {

        <h3 class="heading self-center !text-[1.6rem] !font-medium">
          {{ "doyouhaveallfilesreadytoupload" | translate }}??
        </h3>
        <div class="grid grid-cols-2 gap-8">
          <button
            type="button"
            class="btn border-2 !border-primary flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
             [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('hasFiles')?.value === true,
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('hasFiles')?.value !== true
            }"
            (click)="titleForm.get('hasFiles')?.setValue(true)"
          >
            <div class="flex justify-center">
              <svg-icon
                class="fill-primary flex w-20 self-end"
                src="images/file-regular-full.svg"
              ></svg-icon>
              <svg-icon
                class="fill-primary flex w-8 self-end mb-2"
                src="images/circle-check-solid-full.svg"
              ></svg-icon>
            </div>
            {{ "yesalldocumentsareready" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
             [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('hasFiles')?.value === false,
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('hasFiles')?.value !== false
            }"
            (click)="titleForm.get('hasFiles')?.setValue(false)"
            [routerLink]="['/titles']" routerLinkActive="router-link-active" 
          >
            <svg-icon
              class="fill-primary flex w-20"
              src="images/file-excel-regular-full.svg"
            ></svg-icon>
            {{ "noidonthavefilesready" | translate }}
          </button>
        </div>
        }
  @if(titleForm.get('hasFiles')?.value === true) {

        <h3 class="heading self-center !text-[1.6rem] !font-medium">
          {{ "choosepublishingtype" | translate }}??
        </h3>
        <div class="grid grid-cols-2 gap-8">
          <button
            type="button"
            class="btn border-2 !border-primary flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
             [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('publishingType')?.value === 'publish&print',
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('publishingType')?.value !== 
                'publish&print'
            }"
            (click)="titleForm.get('publishingType')?.setValue('publish&print')"
            matStepperNext
          >
            <div class="flex justify-center">
              <svg-icon
                class="fill-primary flex w-20 "
                src="images/book-solid-full.svg"
              ></svg-icon>
              <svg-icon
                class="fill-primary flex w-20 "
                src="images/print-solid-full.svg"
              ></svg-icon>
            </div>
            {{ "publishprintdistributeandsellrecommended" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
             [ngClass]="{
              '!bg-primary !text-white !fill-white shadow-lg':
                titleForm.get('publishingType')?.value === 'printOnly',
              '!bg-white !text-primary fill-primary !border-primary':
                titleForm.get('publishingType')?.value !== 'printOnly'
            }"
            (click)="titleForm.get('publishingType')?.setValue('printOnly')"
            matStepperNext
          >
            <svg-icon
              class="fill-primary flex w-20"
              src="images/print-solid-full.svg"
            ></svg-icon>
            {{ "onlyprinting" | translate }}
          </button>
        </div>
        }

      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="titleDetailsCtrl" label="Fill the Title Details">
    <form [formGroup]="titleDetailsCtrl">
      <div class="grid-cols-3 grid gap-4 my-4">
        <div class="grid">
          <div formGroupName="isbn" class="w-full">
            <mat-form-field class="!w-full flex">
              <mat-label>
                {{ "isbnnumber" | translate }}
              </mat-label>
              <input
                matInput
                placeholder=""
                formControlName="isbnNumber"
                [maxlength]="13"
                [minlength]="13"
                [required]="
                  titleForm.get('format')?.value === 'printAndEbook' ||
                  titleForm.get('format')?.value === 'printOnly'
                "
              />
              <button
                mat-stroked-button
                type="button"
                matButton="filled"
                class="!bg-green-600 !text-white !h-[28px] disabled:!bg-gray-500"
                (click)="verifyIsbn()"
                [disabled]="
                  !titleDetailsCtrl.get('isbn.isbnNumber')?.valid ||
                  isVerifying()
                "
              >
                @if (!isVerifying()) { Verify } @else {
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate"
                  class="inline-block align-middle text-white !fill-white"
                />
                }
              </button>
            </mat-form-field>
          </div>
          <div class="text-sm">
            @if (isbnVerified() === true) {
            <span class="text-green-600">✔ ISBN Verified</span>
            } @else if (isbnVerified() === false) {
            <span class="text-red-600">✘ Invalid ISBN</span>
            }
          </div>
        </div>
        <mat-form-field>
          <mat-label>{{ "titlename" | translate }}</mat-label>
          <input
            matInput
            placeholder="Book Title"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "subtitle" | translate }}</mat-label>
          <input
            matInput
            placeholder="Sub Title"
            formControlName="subTitle"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ "shortdescription" | translate }}
          </mat-label>
          <textarea
            matInput
            placeholder="Short Description"
            formControlName="shortDescription"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="grid grid-cols-[1fr_2fr] gap-4 items-start">
        <mat-form-field formGroupName="publisher">
          <mat-label>Select Publisher</mat-label>
          <mat-select
            formControlName="id"
            (selectionChange)="onPublisherChange($event.value)"
          >
            @for (item of publishers(); track $index) {
            <mat-option [value]="item.id">
              {{ item.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div formArrayName="authors" class="grid grid-cols-3 gap-4">
          @for(item of authors.controls ; track $index){
          <div [formGroupName]="$index" class="flex items-center gap-2">
            <mat-form-field>
              <mat-label>Author</mat-label>
              <mat-select formControlName="id">
                @for(author of authorsList() ; track $index) {
                <mat-option [value]="author.id">
                  {{ author.user.firstName + " " + author.user.lastName }} ({{
                    author.username
                  }})
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removeAuthor($index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          }
          <button
            class="flex"
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addAuthor()"
          >
            <mat-icon>add</mat-icon> Add Author
          </button>
        </div>
      </div>

      <button matStepperNext matButton="filled" class="!bg-primary mt-8">
        Next
      </button>
    </form>
  </mat-step>

  <mat-step [stepControl]="documentCtrl" label="Upload Documents">
    <form [formGroup]="documentCtrl">
      <input type="file" formControlName="frontCover" />
      <button matStepperNext>Next</button>
    </form>
  </mat-step>

  @if(titleForm.get('format')?.value !== 'ebookOnly') {
  <mat-step [stepControl]="printing" label="Print Details">
    <form [formGroup]="titleForm">
      <div formArrayName="printing">
        @for ( printGroup of printing.controls ; track $index) {
        <div [formGroupName]="$index">
          <mat-form-field>
            <mat-label>Binding</mat-label>
            <mat-select formControlName="bindingType">
              <mat-option value="paperback">Paperback</mat-option>
              <mat-option value="hardbound">Hardbound</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        }
      </div>
      <button matStepperNext>Next</button>
    </form>
  </mat-step>
  }

  <mat-step [stepControl]="distributionCtrl" label="Distribution">
    <form [formGroup]="distributionCtrl">
      <mat-select formControlName="type">
        <mat-option value="national">National</mat-option>
        <mat-option value="prime">Prime</mat-option>
        <mat-option value="global">Global</mat-option>
      </mat-select>
      <button mat-button (click)="onSubmit()">Submit</button>
    </form>
  </mat-step>
</mat-stepper>
