::ng-deep .mat-horizontal-stepper-header-container {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  overflow-y: hidden;
}

::ng-deep .mat-step-header {
  flex: 0 0 auto !important;
  min-width: 120px;
}
::ng-deep .mat-mdc-form-field-infix {
  display: flex !important;
  width: 100%;
}
