@switch (stepperOrientation | async) { @case ('horizontal') { } @case
('vertical') { } }

<h3 class="heading">
  {{ "uploadtitle" | translate }}
</h3>
<mat-stepper
  class="example-stepper !my-4"
  [orientation]="(stepperOrientation | async)!"
  [linear]="true"
  [animationDuration]="'500'"
>
  <mat-step
    [stepControl]="formatCtrl"
    class="!text-accent !p-0"
    label="Choose Format"
  >
    <form [formGroup]="titleForm">
      <div class="flex flex-col gap-8">
        <h3 class="heading self-center !text-[1.6rem] !font-medium">
          {{ "inwhichformatyouwouldliketouploadthetitle" | translate }}??
        </h3>
        <div class="grid grid-cols-3 gap-8">
          <button
            type="button"
            class="btn border-2 !border-primary flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            (click)="titleForm.get('format')?.setValue('printAndEbook')"
            matStepperNext
          >
            <svg-icon
              class="fill-primary"
              src="images/print-ebook.svg"
            ></svg-icon>
            {{ "print&ebook" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            (click)="titleForm.get('format')?.setValue('printOnly')"
            matStepperNext
          >
            <svg-icon class="fill-primary" src="images/print.svg"></svg-icon>
            {{ "printbookonly" | translate }}
          </button>
          <button
            type="button"
            class="btn flex flex-col gap-4 items-center justify-center !py-7 text-base !bg-white !text-primary hover:!bg-primary hover:!text-white hover:shadow-lg border-2 !border-primary hover:!fill-white fill-primary transition-all duration-300 ease-in-out"
            (click)="titleForm.get('format')?.setValue('ebookOnly')"
            matStepperNext
          >
            <svg-icon class="fill-primary" src="images/ebook.svg"></svg-icon>
            {{ "ebookonly" | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="titleDetailsCtrl" label="Fill the Title Details">
    <form [formGroup]="titleDetailsCtrl">
      <div class="grid-cols-3 grid gap-4 my-4">
        <div class="grid">
          <div formGroupName="isbn" class="w-full">
            <mat-form-field class="!w-full flex">
              <mat-label>
                {{ "isbnnumber" | translate }}
              </mat-label>
              <input
                matInput
                placeholder=""
                formControlName="isbnNumber"
                [maxlength]="13"
                [minlength]="13"
                [required]="
                  titleForm.get('format')?.value === 'printAndEbook' ||
                  titleForm.get('format')?.value === 'printOnly'
                "
              />
              <button
                mat-stroked-button
                type="button"
                matButton="filled"
                class="!bg-green-600 !text-white !h-[28px] disabled:!bg-gray-500"
                (click)="verifyIsbn()"
                [disabled]="
                  !titleDetailsCtrl.get('isbn.isbnNumber')?.valid ||
                  isVerifying()
                "
              >
                @if (!isVerifying()) { Verify } @else {
                <mat-progress-spinner
                  diameter="20"
                  mode="indeterminate"
                  class="inline-block align-middle text-white !fill-white"
                />
                }
              </button>
            </mat-form-field>
          </div>
          <div class="text-sm ">
            @if (isbnVerified() === true) { 
            <span class="text-green-600">✔ ISBN Verified</span>
           } @else if (isbnVerified() === false) {
            <span class="text-red-600">✘ Invalid ISBN</span>
            }
          </div>
        </div>
        <mat-form-field>
          <mat-label>{{ "titlename" | translate }}</mat-label>
          <input
            matInput
            placeholder="Book Title"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "subtitle" | translate }}</mat-label>
          <input
            matInput
            placeholder="Sub Title"
            formControlName="subTitle"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>
          {{ "shortdescription" | translate }}
        </mat-label>
        <textarea
          matInput
          placeholder="Short Description"
          formControlName="shortDescription"
        ></textarea>
      </mat-form-field>
      <div class="grid grid-cols-2 gap-4">
        <div formGroupName="publisher" class="grid grid-cols-2 gap-4">
          <mat-form-field>
            <mat-label>Publisher</mat-label>
            <mat-select
              formControlName="id"
              (selectionChange)="onPublisherChange($event.value)"
            >
              @for (item of publishers(); track $index) {
              <mat-option [value]="item.id">
                {{ item.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Publisher Name</mat-label>
            <input matInput formControlName="name" readonly />
          </mat-form-field>
        </div>
        <div formArrayName="authors">
          @for(item of authors.controls ; track $index){
          <div [formGroupName]="$index" class="flex items-center gap-2">
            <mat-form-field>
              <mat-label>Author</mat-label>
              <mat-select formControlName="id">
                @for(author of authorsList() ; track $index) {
                <mat-option [value]="author.id">
                  {{ author.name }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removeAuthor($index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          }
        </div>
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="addAuthor()"
        >
          <mat-icon>add</mat-icon> Add Author
        </button>
        <div class="mt-4 text-sm text-gray-600">
          @for(author of authors.controls; track $index){
          <span>
            {{ authors.at($index).value.name
            }}{{ $index < authors.length - 1 ? ", " : "" }}
          </span>
          }
        </div>
      </div>

      <button matStepperNext matButton="filled">Next</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="documentCtrl" label="Upload Documents">
    <form [formGroup]="documentCtrl">
      <input type="file" formControlName="frontCover" />
      <button matStepperNext>Next</button>
    </form>
  </mat-step>

  @if(titleForm.get('format')?.value !== 'ebookOnly') {
  <mat-step [stepControl]="printing" label="Print Details">
    <form [formGroup]="titleForm">
      <div formArrayName="printing">
        @for ( printGroup of printing.controls ; track $index) {
        <div [formGroupName]="$index">
          <mat-form-field>
            <mat-label>Binding</mat-label>
            <mat-select formControlName="bindingType">
              <mat-option value="paperback">Paperback</mat-option>
              <mat-option value="hardbound">Hardbound</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        }
      </div>
      <button matStepperNext>Next</button>
    </form>
  </mat-step>
  }

  <mat-step [stepControl]="distributionCtrl" label="Distribution">
    <form [formGroup]="distributionCtrl">
      <mat-select formControlName="type">
        <mat-option value="national">National</mat-option>
        <mat-option value="prime">Prime</mat-option>
        <mat-option value="global">Global</mat-option>
      </mat-select>
      <button mat-button (click)="onSubmit()">Submit</button>
    </form>
  </mat-step>
</mat-stepper>
