<div>
  <h2 mat-dialog-title>
    {{ "addaddress" | translate }}
  </h2>
  <mat-dialog-content>
    <app-add-address [addressForm]="addressForm" [gridCss]="'grid grid-cols-1 gap-2'"></app-add-address>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button  (click)="close()">{{ "close" | translate }}</button>
    <button mat-button matButton="filled" (click)="saveAddress()" [disabled]="isLoading()">
      @if (isLoading()) {
        <mat-icon class="animate-spin">refresh</mat-icon>
      } @else {
        {{ "save" | translate }}
      }
    </button>
  </mat-dialog-actions>
</div>