/* All styles are now using Tailwind CSS classes */

/* Remove underline and spinner controls from number inputs */
:host ::ng-deep input[type="number"] {
  -moz-appearance: textfield;
}

:host ::ng-deep input[type="number"]::-webkit-outer-spin-button,
:host ::ng-deep input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the subscript wrapper (the line below input/select) - this removes the default line */
:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
  overflow: hidden !important;
}

/* More aggressive targeting for mat-select fields */
:host ::ng-deep mat-form-field .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep mat-select ~ .mat-mdc-form-field-subscript-wrapper,
:host ::ng-deep .mat-mdc-select ~ .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
  overflow: hidden !important;
}

/* Target the form field wrapper itself */
:host ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  padding-bottom: 0 !important;
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-form-field-bottom-align {
  display: none !important;
  height: 0 !important;
}

/* Ensure mat-form-field inputs match mat-select styling */
:host ::ng-deep .mat-mdc-form-field input[type="number"] {
  border: none;
  outline: none;
  box-shadow: none;
}
