<section
  class="w-full min-h-screen flex items-center justify-center bg-purple-bg p-4"
>
  <div class="w-full max-w-md bg-white shadow-lg rounded-xl p-8">
    <div class="flex justify-center mb-4">
      <div
        class="w-16 h-16 rounded-full bg-gradient-to-br from-primary to-purple flex items-center justify-center shadow-lg text-white"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="lock"
          class="h-8 w-8 text-white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48C21.5 224 
           0 245.5 0 272v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 
           48-48V272c0-26.5-21.5-48-48-48zm-248-72c0-57.3 
           46.7-104 104-104s104 46.7 104 104v72H152v-72zm240 
           264c0 8.8-7.2 16-16 16H72c-8.8 0-16-7.2-16-16V272c0-8.8 
           7.2-16 16-16h304c8.8 0 16 7.2 16 16v144z"
          ></path>
        </svg>
      </div>
    </div>
    <h2 class="text-2xl font-semibold text-text-heading text-center">
      Forgot Password
    </h2>
    <p class="text-sm text-text-secondary text-center mt-1">
      Enter your registered email to receive a verification code.
    </p>

    <form
      [formGroup]="forgotForm"
      (ngSubmit)="onSubmit()"
      class="mt-6 space-y-4"
    >
      <div class="flex flex-col">
        <label class="text-text-primary font-medium mb-1">Email</label>
        <input
          formControlName="email"
          type="email"
          placeholder="your@email.com"
          class="w-full px-4 py-3 rounded-lg border border-primary-light bg-primary-superlight text-text-primary focus:outline-none focus:ring-2 focus:ring-primary"
        />
      </div>

      <p *ngIf="errorMessage()" class="text-red-colour text-sm">
        {{ errorMessage() }}
      </p>

      <p *ngIf="successMessage()" class="text-green-2 text-sm">
        {{ successMessage() }}
      </p>

      <button
        type="submit"
        class="w-full bg-primary text-white py-3 rounded-full shadow hover:scale-[1.02] transition-all"
        [disabled]="loading()"
      >
        {{ loading() ? "Sending..." : "Send OTP" }}
      </button>

      <div class="text-center mt-2">
        <a routerLink="/login" class="text-primary hover:underline"
          >Back to Login</a
        >
      </div>
    </form>
  </div>
</section>
