<mat-form-field
  [class.mat-form-field-invalid]="
    required() && !selectedValue && searchControl.touched
  "
>
  @if (label()) {
  <mat-label>{{ label() }}</mat-label>
  }
  <input
    matInput
    #inputElement
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder()"
    [readonly]="disabled()"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()"
    (input)="onInputChange($any($event.target).value)"
  />
  <div matSuffix class="flex items-center gap-2">
    @if (isLoading()) {
    <mat-spinner diameter="16" class="inline-block"></mat-spinner>
    }
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onOptionSelected($event.option.value)"
    [displayWith]="getDisplayValue"
  >
    @for (option of filteredOptions(); track option.value) {
    <mat-option [value]="option.value">
      {{ option.label }}
    </mat-option>
    } @empty {
    <mat-option disabled>No options found</mat-option>
    }
  </mat-autocomplete>
  @if (required() && !selectedValue && searchControl.touched) {
  <mat-error>This field is required</mat-error>
  }
</mat-form-field>
