:host {
  display: block;
  width: 100%;
}

/* Match Material select styling exactly */
:host ::ng-deep .mat-mdc-form-field {
  width: 100%;
}

/* Ensure the input looks like a select */
:host ::ng-deep .mat-mdc-text-field-wrapper {
  cursor: pointer;
}

/* Hide the dropdown icon when autocomplete is open */
:host ::ng-deep .mat-mdc-autocomplete-panel {
  max-height: 300px;
}

/* Match select option styling */
:host ::ng-deep .mat-mdc-option {
  min-height: 48px;
  padding: 0 16px;
}

:host ::ng-deep .mat-mdc-option:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

:host ::ng-deep .mat-mdc-option.mdc-list-item--selected {
  background-color: rgba(0, 0, 0, 0.08);
}


