<div class="p-6 bg-[var(--surface)] min-h-screen rounded-2xl">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-medium text-[var(--text-heading)]">
      {{ titleDetails()?.name || "Book Title" }}
    </h1>
    <app-back></app-back>
  </div>

  <mat-tab-group
    class="bg-white rounded-2xl shadow-sm border border-[var(--primary-superlight)]"
  >
    <!-- OVERVIEW TAB -->
    <mat-tab label="Overview">
      <div class="p-6">
        <!-- Hero Section -->
        <div
          class="bg-gradient-to-r from-[var(--light-purple-bg)] to-white border border-[var(--primary-light)] rounded-2xl shadow-md p-6 flex flex-col md:flex-row items-start gap-6 mb-8 transition-all hover:shadow-lg"
        >
          <!-- Cover -->
          <div
            class="w-[180px] h-[250px] rounded-xl overflow-hidden shadow-lg border border-[var(--primary-light)] bg-white flex items-center justify-center text-[var(--text-placeholder)] font-medium text-sm"
          >
            @if (frontCoverUrl()) {
            <img
              [src]="frontCoverUrl()"
              alt="Front Cover"
              class="object-cover w-full h-full rounded-xl"
            />
            } @else {
            <span>COVER</span>
            }
          </div>

          <!-- Book Info -->
          <div class="flex-1">
            <h2
              class="text-2xl font-bold text-[var(--primary)] mb-1 capitalize"
            >
              {{ titleDetails()?.name }}
            </h2>
            <p class="text-[var(--text-primary)] text-sm mb-4">
              {{ titleDetails()?.category?.name }} |
              {{ titleDetails()?.language | uppercase }} |
              {{ titleDetails()?.publishingType }}
            </p>

            <!-- Info Grid -->
            <div
              class="grid sm:grid-cols-2 gap-x-6 gap-y-3 text-sm text-[var(--text-primary)]"
            >
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >ISBN (Print):</span
                >
                {{ titleDetails()?.isbnPrint || "Not Assigned" }}
              </p>
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >ISBN (eBook):</span
                >
                {{ titleDetails()?.isbnEbook || "Not Assigned" }}
              </p>
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >Publisher:</span
                >
                {{ titleDetails()?.publisherDisplay }}
              </p>
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >Edition:</span
                >
                {{ titleDetails()?.edition }}
              </p>
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >Genre:</span
                >
                {{ titleDetails()?.genre?.name }}
              </p>
              <p>
                <span class="font-medium text-[var(--text-heading)]"
                  >Trade Category:</span
                >
                {{ titleDetails()?.tradeCategory?.name }}
              </p>
            </div>

            <div class="mt-4">
              <span
                class="inline-flex items-center gap-2 p-4 text-xs font-medium rounded-full"
                [ngClass]="{
                  'bg-[var(--light-green-bg)] text-[var(--green-2)] border border-[var(--light-green-2)]':
                    titleDetails()?.status === 'APPROVED',
                  'bg-[var(--light-purple-bg)] text-[var(--primary)] border border-[var(--primary-light)]':
                    titleDetails()?.status !== 'APPROVED'
                }"
              >
                @if(titleDetails()?.status !== 'APPROVED') {
                <mat-icon class="text-sm">check_circle</mat-icon>
                }
                {{ titleDetails()?.status }}
              </span>
            </div>

            <!-- PLATFORM LINKS (BASIC DETAILS) -->
@if (titleDetails()?.titlePlatformIdentifier?.length ) {
<div class="mt-6">
  <h3 class="text-sm font-medium text-[var(--text-heading)] mb-2 underline">
    Platforms & Links
  </h3>

  <ul class="text-sm text-[var(--text-primary)] space-y-2">
    @for (pid of titleDetails()?.titlePlatformIdentifier; track pid.id) {
    <li class="flex flex-col">
      <span class="font-medium text-[var(--text-heading)]">
        {{ pid.platform?.name }}
      </span>

      @if (pid.distributionLink) {
      <div class="flex items-center gap-2">
        <a
          [href]="pid.distributionLink"
          target="_blank"
          class="underline text-[var(--primary)] hover:text-[var(--purple)] transition"
        >
          {{ pid.distributionLink }}
        </a>

        <mat-icon
          class="!text-base cursor-pointer text-[var(--primary)] hover:text-[var(--purple)]"
          (click)="copyDistributionLink(pid.distributionLink)"
          title="Copy link"
          >content_copy</mat-icon
        >
      </div>
      } @else {
      <span class="text-[var(--text-secondary)]">No link available</span>
      }
    </li>
    }
  </ul>
</div>
}

          </div>
        </div>

        <!-- Description Section -->
        <div
          class="bg-gradient-to-r from-[var(--light-purple-bg)] to-white border border-[var(--primary-superlight)] rounded-2xl shadow-md p-6 hover:shadow-lg transition-all"
        >
          <h3
            class="text-lg font-bold text-[var(--primary)] border-b border-[var(--primary-superlight)] pb-2 mb-4 flex items-center gap-2"
          >
            <mat-icon class="text-[var(--primary)] text-lg">menu_book</mat-icon>
            Book Description
            <mat-icon (click)="onClickCopy(titleDetails()?.longDescription || '')"   class="cursor-pointer text-[var(--primary)] text-lg">content_copy</mat-icon>
          </h3>

          <p
            class="text-[var(--text-primary)] leading-relaxed mb-4 text-justify"
            [innerHTML]="titleDetails()?.longDescription || 'No description provided.'"
          >
          </p>

          <div class="flex flex-col sm:flex-row sm:items-center gap-2">
            <p class="font-medium text-[var(--primary)]">Theme / Subject:</p>
            <span class="text-[var(--text-primary)]">
              {{ titleDetails()?.subject }}
            </span>
          </div>
        </div>

      </div>
    </mat-tab>

    <!-- MEDIA TAB -->
    <mat-tab label="Media">
      <div
        class="bg-white border border-[var(--primary-superlight)] rounded-2xl shadow-md p-6 mb-8 m-6 transition-all hover:shadow-lg"
      >
        <h3
          class="text-lg font-medium text-[var(--primary)] mb-6 flex items-center gap-2"
        >
          <mat-icon class="text-[var(--primary)]">perm_media</mat-icon>
          Uploaded Media
        </h3>

        @if (!titleDetails()?.media?.length) {
        <div
          class="flex flex-col items-center justify-center py-12 bg-[var(--light-purple-bg)] rounded-xl border border-[var(--primary-light)]"
        >
          <mat-icon class="text-[var(--primary)] text-4xl mb-2"
            >photo_library</mat-icon
          >
          <p class="text-[var(--text-primary)] text-sm">
            No media uploaded yet.
          </p>
        </div>
        } @if (titleDetails()?.media?.length) {
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
          @for (media of titleDetails()?.media; track $index) {
          <div
            class="group rounded-2xl overflow-hidden border border-[var(--primary-light)] bg-[var(--light-purple-bg)] shadow-sm hover:shadow-lg hover:scale-[1.02] transition-all"
          >
            <div class="p-4 flex flex-col justify-between h-full">
              <div class="flex items-center justify-between mb-3">
                <p class="font-medium text-[var(--text-heading)] text-sm">
                  {{ media.type.replace("_", " ") }}
                </p>
                @if (media?.type === 'MANUSCRIPT') {
                <mat-icon class="text-[var(--primary)] text-base"
                  >description</mat-icon
                >
                } @else if (media?.url?.toLowerCase()?.includes('.pdf')) {
                <mat-icon class="text-[var(--primary)] text-base"
                  >picture_as_pdf</mat-icon
                >
                }
              </div>
              
              <!-- 📄 MANUSCRIPT Document -->
              @if (media.type === 'MANUSCRIPT' && media.url && loggedInUser()?.accessLevel !== 'AUTHER') {
              <div
                class="h-48 flex flex-col items-center justify-center bg-gradient-to-br from-[var(--light-purple-bg)] to-[var(--primary-superlight)] rounded-lg border border-[var(--primary-light)]"
              >
                <mat-icon class="text-[var(--primary)] text-5xl mb-3"
                  >description</mat-icon
                >
                <a
                  [href]="media.url"
                  [download]="media.name"
                  class="bg-[var(--primary)] text-white text-sm px-4 py-2 rounded-md shadow hover:bg-[var(--purple)] transition flex items-center gap-2"
                >
                  <mat-icon class="text-base">download</mat-icon>
                  Download
                </a>
              </div>
              }
              
              <!-- 📄 PDF Preview -->
              @else if (media.url && media.url.toLowerCase().includes('.pdf')) {
              <div
                class="relative bg-white rounded-lg border border-[var(--primary-superlight)] overflow-hidden"
              >
                <iframe
                  [src]="media.url | safeUrl"
                  class="w-full h-48"
                  frameborder="0"
                ></iframe>

                <div
                  class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity"
                >
                  <a
                    [href]="media.url"
                    target="_blank"
                    class="bg-[var(--primary)] text-white text-sm px-3 py-3 rounded-md shadow hover:bg-[var(--purple)] transition"
                  >
                    Open PDF
                  </a>
                </div>
              </div>
              }

              <!-- 🖼 Image Preview -->
              @else if (media.url) {
              <div
                class="relative overflow-hidden rounded-lg border border-[var(--primary-superlight)]"
              >
                <img
                  [src]="media.url"
                  alt="{{ media.name }}"
                  class="object-cover w-full h-48 rounded-lg bg-white group-hover:scale-[1.05] transition-transform"
                />

                <div
                  class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity"
                >
                  <a
                    [href]="media.url"
                    target="_blank"
                    class="text-white text-sm font-medium bg-[var(--primary)] px-3 py-3 rounded-md shadow hover:bg-[var(--purple)] transition"
                  >
                    View Image
                  </a>
                </div>
              </div>
              }

              <!-- 🚫 Placeholder -->
              @else {
              <div
                class="h-48 flex flex-col items-center justify-center bg-gradient-to-br from-[var(--light-purple-bg)] to-[var(--primary-superlight)] rounded-lg border border-[var(--primary-light)]"
              >
                <mat-icon class="text-[var(--primary)] text-3xl mb-2"
                  >insert_photo</mat-icon
                >
                <p class="text-xs text-[var(--text-primary)]">
                  No preview available
                </p>
              </div>
              }

            </div>
          </div>
          }
        </div>
        }
      </div>
    </mat-tab>

    <!-- PRINTING TAB -->
    <mat-tab label="Printing">
      <div class="m-6">
        <!-- Header -->
        <div
          class="bg-gradient-to-r from-[var(--primary-superlight)] via-[var(--light-purple-bg)] to-white p-6 rounded-2xl shadow-md border border-[var(--primary-light)] mb-6 flex items-center justify-between"
        >
          <div>
            <h3
              class="text-xl font-medium text-[var(--primary)] mb-1 flex items-center gap-2"
            >
              <mat-icon class="text-[var(--primary)]">print</mat-icon>
              Printing Details
            </h3>
            <p class="text-[var(--text-primary)] text-sm">
              Overview of your book’s printing configuration
            </p>
          </div>
          <!-- <span
            class="bg-[var(--primary)] text-white px-4 py-2 rounded-lg text-sm font-medium shadow hover:bg-[var(--purple)] transition-all"
          
            >
            PRINT CONFIGURATION
          </span> -->
        </div>
        @if (titleDetails()?.printing?.length) { @let p =
        titleDetails()?.printing?.[0];
        <div
          class="bg-white border border-[var(--primary-superlight)] rounded-2xl p-6 shadow-md hover:shadow-lg transition-all hover:scale-[1.01]"
        >
          <div class="flex items-center gap-3 mb-6">
            <div
              class="p-3 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)] shadow-inner"
            >
              <mat-icon>local_printshop</mat-icon>
            </div>
            <div>
              <h4 class="font-medium text-[var(--text-heading)] text-lg">
                Printing Setup
              </h4>
              <p class="text-[var(--text-primary)] text-sm">
                Below are the details for your selected printing configuration
              </p>
            </div>
          </div>

          <!-- Details Grid -->
          <div
            class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-5 text-sm leading-6"
          >

           <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base">money</mat-icon>
              <p  class="font-semibold">
                <label>Print Cost : </label>
                {{ p?.customPrintCost !== null ? (p?.customPrintCost | currency:"INR") : (p?.printCost | currency: "INR") }}
              </p>
            </div>
            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base">style</mat-icon>
              <p>
                <label class="font-medium">Binding : </label>
                {{ p?.bindingType?.name }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >layers</mat-icon
              >
              <p>
                <label class="font-medium">Paper Quality : </label>
                {{ p?.paperQuailty?.name }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base">brush</mat-icon>
              <p>
                <label class="font-medium">Lamination:</label>
                {{ p?.laminationType?.name }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >aspect_ratio</mat-icon
              >
              <p>
                <label class="font-medium">Size : </label>
                {{ p?.sizeCategory?.size }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >description</mat-icon
              >
              <p>
                <label class="font-medium">Total Pages : </label>
                {{ p?.totalPages }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >palette</mat-icon
              >
              <p>
                <label class="font-medium">Color Pages : </label>
                {{ p?.colorPages }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >layers_clear</mat-icon
              >
              <p>
                <label class="font-medium">Inside Cover : </label>
                {{ p?.insideCover ? "Yes" : "No" }}
              </p>
            </div>

            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--primary)] text-base"
                >layers</mat-icon
              >
              <p>
                <label class="font-medium">Paper Type : </label>
                {{ p?.paperType }}
              </p>
            </div>

            <!-- Print Cost - Show based on user role -->
            @if (loggedInUser()?.accessLevel === 'AUTHER') {
            <!-- Authors: Show only custom print price if available -->
            @if (p?.customPrintCost) {
            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--green-2)] text-base"
                >payments</mat-icon
              >
              <p>
                <label class="font-medium">Print Cost : </label>
                <span class="text-[var(--green-2)] font-medium">{{
                  p?.customPrintCost | currency : "INR"
                }}</span>
              </p>
            </div>
            }
            } @else {
            <!-- Superadmins and Publishers: Show both actual and custom print price -->
            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--green-2)] text-base"
                >payments</mat-icon
              >
              <p>
                <label class="font-medium">Print Cost : </label>
                <span class="text-[var(--green-2)] font-medium">{{
                  p?.printCost | currency : "INR"
                }}</span>
              </p>
            </div>
            @if (p?.customPrintCost) {
            <div class="flex items-center gap-2">
              <mat-icon class="text-[var(--green-2)] text-base"
                >payments</mat-icon
              >
              <p>
                <label class="font-medium">Custom Print Cost : </label>
                <span class="text-[var(--green-2)] font-medium">{{
                  p?.customPrintCost | currency : "INR"
                }}</span>
              </p>
            </div>
            }
            }
          </div>
        </div>
        } @else {
        <!-- Empty State -->
        <div
          class="flex flex-col items-center justify-center py-12 bg-[var(--light-purple-bg)] rounded-2xl border border-[var(--primary-light)]"
        >
          <mat-icon class="text-[var(--primary)] text-5xl mb-3"
            >print_disabled</mat-icon
          >
          <p class="text-[var(--text-primary)] text-sm">
            No printing setup available for this title.
          </p>
        </div>
        }
      </div>
    </mat-tab>

    <!-- PRICING & ROYALTY TAB -->
    @if (
      titleDetails()?.printingOnly !== true   ) {
    <mat-tab label="Pricing & Royalty">
      <div
        class="bg-white border border-[var(--primary-superlight)] rounded-2xl shadow-sm p-6 mb-6 m-6"
      >
        <h3
          class="text-lg font-medium text-[var(--text-heading)] border-b border-[var(--primary-superlight)] pb-2 mb-4"
        >
           {{ loggedInUser()?.accessLevel !== 'AUTHER'
    ? 'Pricing & Royalty' : 'Royalty'}}
        </h3>

        @if (platformsWithData().length > 0) {
        <!-- Cards grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
          @for (platform of platformsWithData(); track platform) {
          <div
            class="group relative border border-[var(--primary-superlight)] rounded-2xl p-5 bg-gradient-to-br from-white to-[var(--light-purple-bg)] hover:shadow-lg transition-all flex flex-col"
            [attr.aria-labelledby]="'card-' + platform + '-title'"
          >
            <!-- HEADER -->
            <div class="flex items-start justify-between mb-3">
              <div class="flex items-center gap-3">
                <div
                  class="p-3 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)] shadow-inner"
                >
                  <mat-icon>storefront</mat-icon>
                </div>
                <div>
                  <h4
                    id="card-{{ platform }}-title"
                    class="font-semibold text-[var(--text-heading)] uppercase tracking-wide"
                  >
                    {{ platform }}
                  </h4>
                  <p class="text-xs text-[var(--text-secondary)] mt-0.5">
                    Platform overview
                  </p>
                </div>
              </div>

              @if (    loggedInUser()?.accessLevel !== 'AUTHER'
) {
              <div class="text-right">
                <span
                  class="text-[var(--green-2)] text-xs font-medium bg-[var(--light-green-bg)] px-3 py-1 rounded-full border border-[var(--light-green-2)]"
                >
                  {{ getPriceByPlatform(platform)?.status || "INACTIVE" }}
                </span>
                <p class="text-xs text-[var(--text-primary)] italic mt-1">
                  Total:
                  <span class="font-semibold"
                    >{{ getTotalRoyalty(platform) }}%</span
                  >
                </p>
              </div>
            }
            </div>

            <!-- CONTENT SECTION WITH FIXED HEIGHT -->
          
            <div class="flex flex-col gap-4 md:gap-6 min-h-[220px]">
              <!-- LEFT: Pricing block -->
                 @if (    loggedInUser()?.accessLevel !== 'AUTHER'
) {
              <div class="w-full">
                <div class="text-sm text-[var(--text-primary)] space-y-2">
                  <div class="flex justify-between">
                    <span class="font-medium text-[var(--text-heading)]"
                      >MRP:</span
                    >
                    <span class="font-semibold text-[var(--primary)]"
                      >₹{{ getPriceByPlatform(platform)?.mrp ?? "N/A" }}</span
                    >
                  </div>

                  <div class="flex justify-between">
                    <span class="font-medium text-[var(--text-heading)]"
                      >Sales Price:</span
                    >
                    <span class="font-semibold text-[var(--green-2)]"
                      >₹{{
                        getPriceByPlatform(platform)?.salesPrice ?? "N/A"
                      }}</span
                    >
                  </div>

                  <div class="flex justify-between">
                    <span class="font-medium text-[var(--text-heading)]"
                      >MSP:</span
                    >
                    <span class="font-medium text-[var(--primary)]"
                      >₹{{ getPriceByPlatform(platform)?.msp ?? "N/A" }}</span
                    >
                  </div>

                  <div class="flex justify-between">
                    <span class="font-medium text-[var(--text-heading)]"
                      >Delivery Charges:</span
                    >
                    <span class="text-[var(--text-secondary)] font-medium"
                      >₹{{
                        getPriceByPlatform(platform)?.deliveryCharges ?? "N/A"
                      }}</span
                    >
                  </div>
                </div>
              </div>
            }
              <!-- RIGHT: Royalty section -->
              <div class="w-full flex flex-col">
                <!-- Title -->
                <div class="flex items-center gap-3 mb-3">
                  <div
                    class="p-2 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)]"
                  >
                    <mat-icon>percent</mat-icon>
                  </div>

                  <div class="flex-1">
                    <p class="text-[var(--text-heading)] font-medium">
                      Royalty Breakdown
                    </p>
                    <p class="text-xs text-[var(--text-secondary)]">
                      Publisher & author splits
                    </p>
                  </div>

                  <!-- <div class="text-xs font-semibold text-[var(--primary)]">
                    Total: {{ getTotalRoyalty(platform) }}%
                  </div> -->
                  @if (loggedInUser()?.accessLevel !== 'AUTHER') {

                  
                  <div class="text-xs font-semibold text-[var(--primary)]">
  Total:
  {{
    loggedInUser()?.accessLevel === 'AUTHER'
      ? getAuthorRoyaltyOnly(platform)
      : getTotalRoyalty(platform)
  }}%
</div>
                  }

                </div>

                <!-- Table -->
                <div
                  class="bg-white min-h-[110px] overflow-y-auto rounded-lg border border-[var(--primary-superlight)] shadow-sm overflow-hidden"
                >
                  <!-- Header -->
                  <div
                    class="grid grid-cols-14 px-3 py-2 bg-[var(--primary-superlight)] text-[var(--text-heading)] font-medium text-sm"
                  >
                    <div class="col-span-5">Name</div>
                    <div class="col-span-3 text-center">Role</div>
                   @if(loggedInUser()?.accessLevel !== 'AUTHER'){
<div class="col-span-3 text-right">(%)</div>
                   } 
                    <div class="col-span-3 text-right">(₹)</div>
                  </div>

                  <div
                    class="divide-y divide-[var(--primary-superlight)] border border-b-[var(--primary-superlight)]"
                  >
                    <!-- Publisher row -->
                    @if (getPublisherRoyalty(platform) && loggedInUser()?.accessLevel !== 'AUTHER') {
                    <div
                      class="grid grid-cols-14 px-3 py-2 hover:bg-[var(--light-purple-bg)] transition"
                    >
                      <div
                        class="col-span-5 font-medium text-[var(--text-heading)]"
                      >
                        {{ getPublisherName() }}
                      </div>

                      <div
                        class="col-span-3 text-center text-xs text-[var(--text-primary)]"
                      >
                        Publisher
                      </div>

                      <div
                        class="col-span-3 text-right font-semibold text-[var(--primary)]"
                      >
                        {{ getPublisherRoyalty(platform)?.percentage }}%
                      </div>

                      <div
                        class="col-span-3 text-right text-xs text-[var(--primary)]"
                      >
                        ₹{{
                          getRoyaltyAmount(
                            platform,
                            getPublisherRoyalty(platform)?.percentage,
                            true,
                            null,
                            getPublisherRoyalty(platform)?.publisherId
                          ) | number : "1.0-2"
                        }}
                        @if (
                          (loggedInUser()?.accessLevel === 'SUPERADMIN' ||
                            loggedInUser()?.accessLevel === 'PUBLISHER') &&
                          getPublisherMargin(platform) > 0
                        ) {
                        <span class="text-[var(--green-2)] text-xs ml-1"
                          >(+₹{{ getPublisherMargin(platform) | number : "1.0-2" }}
                          margin)</span
                        >
                        }
                      </div>
                    </div>
                    }

                    <!-- Author rows -->
                    <!-- @for (r of getAuthorRoyalties(platform); track $index) {
                    <div
                      class="grid grid-cols-14 px-3 py-2 hover:bg-[var(--light-purple-bg)] transition"
                    >
                      <div
                        class="col-span-5 font-medium text-[var(--text-heading)]"
                      >
                        {{ getAuthorName(r.authorId) }}
                      </div>

                      <div
                        class="col-span-3 text-center text-xs text-[var(--text-primary)]"
                      >
                        Author
                      </div>

                      <div
                        class="col-span-3 text-right font-semibold text-[var(--green-2)]"
                      >
                        {{ r.percentage }}%
                      </div>

                      <div
                        class="col-span-3 text-right text-xs text-[var(--green-2)]"
                      >
                        ₹{{
                          getRoyaltyAmount(platform, r.percentage, false, r.authorId)
                            | number : "1.0-2"
                        }}
                      </div>
                    </div>
                    } -->
@for (r of getAuthorRoyalties(platform); track r.authorId) {

  @if (
    loggedInUser()?.accessLevel !== 'AUTHER' ||
    (loggedInUser()?.accessLevel === 'AUTHER' &&
      r.authorId === loggedInUser()?.auther?.id)
  ) {
    <div
      class="grid grid-cols-14 px-3 py-2 hover:bg-[var(--light-purple-bg)] transition"
    >
      <div class="col-span-5 font-medium text-[var(--text-heading)]">
        {{ getAuthorName(r.authorId) }}
      </div>

      <div class="col-span-3 text-center text-xs text-[var(--text-primary)]">
        Author
      </div>
     @if (loggedInUser()?.accessLevel !== 'AUTHER') {

       <div class="col-span-3 text-right font-semibold text-[var(--green-2)]">
         {{ r.percentage }}%
        </div>
      }

      <div class="col-span-3 text-right text-xs text-[var(--green-2)]">
        ₹{{
          getRoyaltyAmount(platform, r.percentage, false, r.authorId)
            | number : "1.0-2"
        }}
      </div>
    </div>
  }
}


                  </div>
                </div>

                <!-- Royalty Bar -->
                   @if (    loggedInUser()?.accessLevel !== 'AUTHER'
) {
                <div class="mt-4">
                  <p class="text-xs text-[var(--text-secondary)] mb-1">
                    % Royalty Distribution (Total
                    {{ getTotalRoyalty(platform) }}%)
                  </p>

                  <div
                    class="relative h-2 bg-[var(--primary-superlight)] rounded-full overflow-hidden"
                  >
                    <div
                      class="absolute top-0 left-0 h-2 bg-[var(--green-2)] transition-all duration-500"
                      [style.width]="getTotalRoyalty(platform) + '%'"
                    ></div>
                  </div>
                </div>
              }
              </div>
            </div>
          
          </div>
          }
        </div>
        } @else {
        <!-- Empty State -->
        <div
          class="flex flex-col items-center justify-center py-12 bg-[var(--light-purple-bg)] rounded-2xl border border-[var(--primary-light)]"
        >
          <mat-icon class="text-[var(--primary)] text-5xl mb-3"
            >payments</mat-icon
          >
          <p class="text-[var(--text-primary)] text-sm">
            No pricing data available for this title.
          </p>
        </div>
        }
      </div>
    </mat-tab>

    <mat-tab label="Distribution">
      <div class="m-6">
        <div
          class="bg-gradient-to-r from-[var(--primary-superlight)] via-[var(--light-purple-bg)] to-white p-6 rounded-2xl shadow-md border border-[var(--primary-light)] mb-6 flex items-center justify-between"
        >
          <div>
            <h3
              class="text-xl font-medium text-[var(--primary)] mb-1 flex items-center gap-2"
            >
              <mat-icon class="text-[var(--primary)]">public</mat-icon>
              Distribution Details
            </h3>
            <p class="text-[var(--text-primary)] text-sm">
              Information about your book’s distribution and platform
              identifiers
            </p>
          </div>
          <!-- <span
            class="bg-[var(--primary)] text-white px-4 py-2 rounded-lg text-sm font-medium shadow hover:bg-[var(--purple)] transition-all"
          >
            DISTRIBUTION INFO
          </span> -->
        </div>

        <!-- Distribution Channels Card -->
        <div
          class="bg-white border border-[var(--primary-superlight)] rounded-2xl p-6 shadow-md hover:shadow-lg transition-all mb-6"
        >
          <div class="flex items-center gap-3 mb-4">
            <div
              class="p-3 rounded-full bg-[var(--light-green-bg)] text-[var(--green-2)] shadow-inner"
            >
              <mat-icon>share</mat-icon>
            </div>
            <div>
              <h4 class="font-medium text-[var(--text-heading)] text-lg">
                Distribution Channels
              </h4>
              <p class="text-[var(--text-primary)] text-sm">
                All available distribution types linked to this title
              </p>
            </div>
          </div>

          <div class="flex flex-wrap gap-3 mt-4">
            @for (d of titleDetails()?.distribution; track $index) {
            <div
              class="px-4 py-2 rounded-full text-sm font-medium border border-[var(--light-green-2)] bg-[var(--light-green-bg)] text-[var(--green-2)] shadow-sm hover:scale-105 transition-transform cursor-default"
            >
              {{ d.type }}
            </div>
            }
          </div>
        </div>

        <div
          class="bg-white border border-[var(--primary-superlight)] rounded-2xl p-6 shadow-md hover:shadow-lg transition-all"
        >
          <div class="flex items-center gap-3 mb-4">
            <div
              class="p-3 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)] shadow-inner"
            >
              <mat-icon>dns</mat-icon>
            </div>
            <div class="flex justify-between items-center w-full">
              <div >
                <h4 class="font-medium text-[var(--text-heading)] text-lg">
                  Platform Identifiers
                </h4>
                <p class="text-[var(--text-primary)] text-sm">
                  Platform-specific identifiers and publishing types
                </p>
              </div>
              @if(loggedInUser()?.accessLevel === 'SUPERADMIN') {
                <button
                mat-raised-button
                color="primary"
                (click)="addPlatformIdentifier()"
                class="!px-4 flex gap-1 items-center"
                >
                <mat-icon>add</mat-icon>
                {{ "addmore" | translate }}
              </button>
            }
          </div>
          </div>
          @if (titleDetails()?.titlePlatformIdentifier?.length) {
          <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 mt-4">
            @for (pid of titleDetails()?.titlePlatformIdentifier; track $index)
            {
            <div
              class="group border border-[var(--primary-superlight)] rounded-xl p-4 bg-gradient-to-br from-white to-[var(--light-purple-bg)] hover:shadow-lg hover:scale-[1.02] transition-all"
            >
              <div class="flex items-center justify-between mb-3">
                <div class="flex items-center gap-2">
                  <div
                    class="p-2 rounded-full bg-[var(--light-purple-bg)] text-[var(--primary)]"
                  >
                    <mat-icon>storefront</mat-icon>
                  </div>
                  <h5 class="font-medium text-[var(--text-heading)] text-base">
                    {{ pid.platform.name }}
                  </h5>
                </div>
                <span
                  class="text-[var(--green-2)] text-xs font-medium bg-[var(--light-green-bg)] px-3 py-1 rounded-full border border-[var(--light-green-2)]"
                >
                  {{ pid.type }}
                </span>
              </div>

              <div
                class="flex flex-col gap-1 text-sm text-[var(--text-primary)]"
              >
                <p>
                  <span class="font-medium text-[var(--text-heading)]">
                    Unique ID:
                  </span>
                  <span
                    class="ml-2 px-2 py-[2px] rounded bg-[var(--primary-superlight)] text-[var(--primary)] font-medium text-xs"
                  >
                    {{ pid.uniqueIdentifier || "N/A" }}
                  </span>
                </p>
                <p class="flex gap-1 items-center">
                  <span class="font-medium text-[var(--text-heading)]">
                    Link:
                  </span>
                  @if(pid.distributionLink) {
                  <div class="flex items-center gap-1">
                    <a target="_blank" [href]="pid.distributionLink">
                      {{ pid.distributionLink }}
                    </a>
                    <button
                      type="button"
                      (click)="copyDistributionLink(pid.distributionLink)"
                      title="Copy link"
                      class="mt-1"
                    >
                      <mat-icon class="!text-base">content_copy</mat-icon>
                    </button>
                  </div>
                  } @else {
                  <span>N/A</span>
                  }
                </p>
                  @if (    loggedInUser()?.accessLevel !== 'AUTHER'
)  {
                <p>
                  <span class="font-medium text-[var(--text-heading)]">
                    Total Sales:
                  </span>

                  <span>
                    @if(pid.totalAmount) {
                    {{ pid.sales }}
                    } @else {
                    <span>0</span>
                    }
                  </span>
                </p>
                <p>
                  <span class="font-medium text-[var(--text-heading)]">
                    Total Sales Amount:
                  </span>

                  <span>
                    @if(pid.totalAmount) {
                    {{ pid.totalAmount | currency }}
                    } @else {
                    <span>0</span>
                    }
                  </span>
                </p>
              }
              </div>
            </div>
            }
          </div>
          } @else {
          <div
            class="flex flex-col items-center justify-center py-8 bg-[var(--light-purple-bg)] rounded-2xl border border-[var(--primary-light)]"
          >
            <mat-icon class="text-[var(--primary)] text-5xl mb-3"
              >data_object</mat-icon
            >
            <p class="text-[var(--text-primary)] text-sm">
              No platform identifiers available for this title.
            </p>
          </div>
          }
        </div>
      </div>
    </mat-tab>
    }
  </mat-tab-group>
</div>
