<form
  class="flex flex-col gap-4 max-w-[90vw] p-3"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="flex items-center justify-between mt-4">
    <h2 mat-dialog-title class="text-xl heading !text-primary font-semibold">
      Create Royalties
    </h2>
    <div class="flex gap-3">
      <button
        class="btn rounded-md !text-primary"
        matButton="filled"
        matButton
        type="button"
        [ngClass]="{
          '!bg-primary !text-white': lastSelectedSaleType === salesTypes.SALE,
          '!bg-primary-superlight': lastSelectedSaleType !== salesTypes.SALE
        }"
        (click)="selectSaleType(salesTypes.SALE)"
      >
        <mat-icon>add</mat-icon>

        Add Sale
      </button>
      <button
        class="btn rounded-md !text-primary"
        type="button"
        matButton="filled"
        matButton
        [ngClass]="{
          '!bg-primary !text-white':
            lastSelectedSaleType === salesTypes.LIVE_SALE,
          '!bg-primary-superlight':
            lastSelectedSaleType !== salesTypes.LIVE_SALE
        }"
        (click)="selectSaleType(salesTypes.LIVE_SALE)"
      >
        <mat-icon>add</mat-icon>
        Add Live Sale
      </button>
      <button
        class="btn rounded-md bg-primary-superlight !text-primary"
        type="button"
        matButton="filled"
        matButton
        [ngClass]="{
          '!bg-primary !text-white':
            lastSelectedSaleType === salesTypes.INVENTORY,
          '!bg-primary-superlight':
            lastSelectedSaleType !== salesTypes.INVENTORY
        }"
        (click)="selectSaleType(salesTypes.INVENTORY)"
      >
        <mat-icon>add</mat-icon>

        Add Inventory
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <div class="flex flex-col gap-5 mt-4">
      @for (saleGroup of form.controls.salesArray.controls; track $index) {
      <div
        class="relative border border-[var(--primary-light)] rounded-xl p-5 bg-gradient-to-br from-[var(--light-purple-bg)] to-[var(--primary-superlight)] hover:shadow-lg hover:scale-[1.01] transition-all"
      >
        <div
          class="grid md:grid-cols-3 xl:grid-cols-[0.5fr_repeat(5,1fr)] gap-4 items-center"
        >
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >{{ "salesType" | translate }}</label
            >
            <span
              class="block text-xs text-[var(--text-primary)] mb-1 font-medium"
            >
              {{ saleGroup.controls.type.value | translate }}
            </span>
          </div>
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >Title</label
            >
            <select
              [formControl]="saleGroup.controls.title.controls.id"
              class="w-full border border-[var(--primary-light)] rounded-md px-3 py-2 text-xs text-[var(--text-primary)] bg-white focus:border-[var(--primary)] outline-none"
            >
              @for (title of titles() |
              myTitleFilterBySale:saleGroup.controls.title.controls.availableOptions.value;
              track $index) {
              <option [value]="title.id">{{ title.name }}</option>
              }
            </select>
          </div>
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >Platform</label
            >
            <select
              [formControl]="saleGroup.controls.platform"
              [ngClass]="{
                'opacity-50 cursor-not-allowed':
                  !saleGroup.controls.title.controls.id.value
              }"
              [disabled]="!saleGroup.controls.title.controls.id.value"
              class="w-full border border-[var(--primary-light)] rounded-md px-3 py-2 text-xs text-[var(--text-primary)] bg-white focus:border-[var(--primary)] outline-none"
            >
              @for (platform of platforms(); track $index) {
              <option [value]="platform">{{ platform | translate }}</option>
              }
            </select>
          </div>
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >Amount</label
            >
            <input
              type="number"
              [formControl]="saleGroup.controls.amount"
              [readonly]="saleGroup.controls.type.value !== 'INVENTORY'"
              class="w-full border border-[var(--primary-light)] rounded-md px-3 py-2 text-xs text-[var(--text-primary)] bg-white focus:border-[var(--primary)] outline-none"
            />
          </div>
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >Quantity</label
            >
            <input
              type="number"
              [formControl]="saleGroup.controls.quantity"
              class="w-full border border-[var(--primary-light)] rounded-md px-3 py-2 text-xs text-[var(--text-primary)] bg-white focus:border-[var(--primary)] outline-none"
            />
          </div>
          @if(saleGroup.controls.type.value !== 'INVENTORY' &&
          saleGroup.controls.type.value !== 'SALE') {
          <div>
            <label
              class="block text-xs text-[var(--text-heading)] mb-1 font-medium"
              >Sold At</label
            >
            <div class="relative">
              <input
                type="text"
                matInput
                readonly
                (focus)="picker.open()"
                (click)="picker.open()"
                [value]="
                  saleGroup.controls.soldAt.value | myDate : 'dd-MM-yyyy'
                "
                class="w-full border border-[var(--primary-light)] rounded-md px-3 py-2 text-xs text-[var(--text-primary)] bg-white focus:border-[var(--primary)] outline-none"
              />
              <input
                class="opacity-0 absolute top-0 left-0 w-0 h-0"
                matInput
                [ngxMatDatetimePicker]="picker"
                [formControl]="saleGroup.controls.soldAt"
                tabindex="-1"
              />
              <ngx-mat-datetime-picker #picker>
                <ngx-mat-datepicker-actions>
                  <div class="flex justify-between w-full">
                    <button mat-button ngxMatDatepickerCancel>Cancel</button>
                    <button
                      mat-raised-button
                      color="primary"
                      ngxMatDatepickerApply
                    >
                      Apply
                    </button>
                  </div>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mt-4 flex justify-end gap-3">
    <button
      type="button"
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
    >
      Close
    </button>

    <button
      type="button"
      mat-button
      matButton="filled"
      (click)="addMoreSales()"
      class="!bg-purple"
    >
      <mat-icon>add</mat-icon>
      Add More
    </button>

    <button type="submit" mat-button matButton="filled" class="!bg-primary">
      Confirm
    </button>
  </mat-dialog-actions>
</form>
