<form
  class="flex flex-col gap-4 max-w-[90vw] p-3"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="flex items-center justify-between">
    <h2 mat-dialog-title class="text-xl heading !text-primary">
      Create Royalties
    </h2>
  </div>

  <mat-dialog-content>
    <div>
      <table>
        <tr>
          <th>{{ "saketype" | translate }}</th>
          <th>{{ "title" | translate }}</th>
          <th>{{ "platform" | translate }}</th>
          <th>{{ "amount" | translate }}</th>
          <th>{{ "qunatity" | translate }}</th>
          <th>{{ "soldat" | translate }}</th>
        </tr>
        @for (saleGroup of form.controls.salesArray.controls; track $index) {
        <tr>
          <td>
            <select [formControl]="saleGroup.controls.type">
              @for (st of salesType(); track $index) {
              <option [value]="st">{{ st | translate }}</option>
              }
            </select>
            <!-- <mat-form-field>
              <mat-label>{{ "type" | translate }}</mat-label>
              <mat-select [formControl]="saleGroup.controls.type">
                @for (saleType of salesType(); track $index) {
                <mat-option [value]="saleType">
                  {{ saleType | translate }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field> -->
          </td>

          <td>
            <select [formControl]="saleGroup.controls.title.controls.id">
              @for (title of titles() |
              myTitleFilterBySale:saleGroup.controls.title.controls.availableOptions.value;
              track $index) {

              <option [value]="title.id">{{ title.name }}</option>
              }
            </select>
            <!-- <mat-form-field>
              <mat-label>{{ "selecttitle" | translate }}</mat-label>
              <mat-select [formControl]="saleGroup.controls.title.controls.id">
                @for (title of titles() |
                myTitleFilterBySale:saleGroup.controls.title.controls.availableOptions.value;
                track $index) {
                <mat-option [value]="title.id">{{ title.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field> -->
          </td>

          <td>
            <select [formControl]="saleGroup.controls.platform" id="">
              @for (platform of platforms(); track $index) {
              <option [value]="platform">
                {{ platform | translate }}
              </option>
              }
            </select>
            <!-- <mat-form-field>
              <mat-label>{{ "selectplatform" | translate }}</mat-label>
              <mat-select
                [formControl]="saleGroup.controls.title.controls.id"
                required
              >
                @for (platform of platforms(); track $index) {
                <mat-option [value]="platform">
                  {{ platform | translate }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field> -->
          </td>

          <td>
            <input [formControl]="saleGroup.controls.amount" type="text" />
            <!-- <mat-form-field>
              <mat-label>
                {{ "itemsaleprice" | translate }}
              </mat-label>
              <input
                matInput
                type="number"
                required
                [formControl]="saleGroup.controls.amount"
              />
            </mat-form-field> -->
          </td>

          <td>
            <input [formControl]="saleGroup.controls.quantity" type="text" />
            <!-- <mat-form-field>
              <mat-label>
                {{ "quantity" | translate }}
              </mat-label>
              <input
                matInput
                type="number"
                required
                [formControl]="saleGroup.controls.quantity"
              />
            </mat-form-field> -->
          </td>

          <td class="relative">
            <input
              type="text"
              matInput
              (focus)="picker.open()"
              (click)="picker.open()"
              [value]="saleGroup.controls.soldAt.value | myDate : 'dd-MM-yyyy'"
              [ngClass]="{
                'ng-invalid': saleGroup.controls.soldAt.invalid,
                'ng-touched': saleGroup.controls.soldAt.invalid
              }"
            />

            <input
              class="opacity-0 w-0 h-0 absolute top-0 left-0"
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Choose date and time"
              (focus)="picker.open()"
              (click)="picker.open()"
              [formControl]="saleGroup.controls.soldAt"
              tabindex="-1"
            />

            <ngx-mat-datetime-picker #picker>
              <ngx-mat-datepicker-actions>
                <div class="flex w-full justify-between">
                  <button mat-button ngxMatDatepickerCancel>Cancel</button>
                  <button
                    mat-raised-button
                    color="primary"
                    ngxMatDatepickerApply
                  >
                    Apply
                  </button>
                </div>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
            <!-- <mat-form-field>
              <mat-label>
                {{ "soldon" | translate }}
              </mat-label>
              <input
                matInput
                type="text"
                required
                [formControl]="saleGroup.controls.soldAt"
              />
            </mat-form-field> -->
          </td>
        </tr>
        }
      </table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
      type="button"
    >
      {{ "close" | translate }}
    </button>
    <button
      type="button"
      mat-button
      matButton="filled"
      (click)="addSalesGroup()"
    >
      {{ "addmore" | translate }}
    </button>
    <button type="submit" mat-button matButton="filled" class="!bg-primary">
      {{ "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</form>
