<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4 w-[480px] max-w-[90vw] p-3"
>
  <h2 mat-dialog-title class="text-xl heading !text-primary">
    {{ "changepassword" | translate }}
  </h2>

  <mat-dialog-content>
    <div class="flex flex-col gap-4">
      <mat-form-field class="w-full">
        <mat-label>{{ "password" | translate }}</mat-label>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          matInput
          type="password"
          formControlName="password"
        />
        <button
          (click)="toggleShowPassword()"
          mat-icon-button
          matSuffix
          type="button"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="!true"
        >
          <mat-icon>{{
            showPassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(form.get('password')?.hasError('required')){
        <mat-error>{{ "requiredvalueerror" | translate }}</mat-error>
        } @if (form.get('password')?.hasError('minlength')) {
        <mat-error>{{
          "minlengtherror" | translate : { length: 8 }
        }}</mat-error>
        }@if(form.get('password')?.hasError('missmatch')) {
        <mat-error>{{ "passwordmismatcherror" | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>{{ "confirmPassword" | translate }}</mat-label>
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          matInput
          type="password"
          formControlName="confirmPassword"
        />
        <button
          (click)="toggleShowConfirmPassword()"
          mat-icon-button
          matSuffix
          type="button"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="!showConfirmPassword()"
        >
          <mat-icon>{{
            showConfirmPassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if(form.get('confirmPassword')?.hasError('required')){
        <mat-error>{{ "requiredvalueerror" | translate }}</mat-error>
        } @if (form.get('confirmPassword')?.hasError('minlength')) {
        <mat-error>{{
          "minlengtherror" | translate : { length: 8 }
        }}</mat-error>
        } @if(form.get('confirmPassword')?.hasError('missmatch')) {
        <mat-error>{{ "passwordmismatcherror" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
      type="button"
    >
      {{ "close" | translate }}
    </button>
    <button type="submit" mat-button matButton="filled" class="!bg-primary">
      {{ "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</form>
