<div
  class="relative w-32 h-32 rounded-full overflow-hidden border shadow flex justify-center items-center"
>
  <!-- 🔥 Image Preview -->
  @if (previewUrl() && !isLoading()) {
  <img
    [src]="previewUrl() ?? '' | safeUrl"
    class="w-full h-full object-cover"
  />
  }
  <!-- 🔥 Placeholder when no image -->
  @if (!previewUrl() && !isLoading()) {
  <img
    src="images/user-solid-full.svg"
    class="w-[50px] h-[50px] opacity-60 object-contain"
  />
  }

  <!-- ⏳ Loader -->
  @if (isLoading()) {
  <div class="flex flex-col items-center gap-2">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="30"
    ></mat-progress-spinner>
    <small class="text-xs text-gray-500">Uploading...</small>
  </div>
  }

  <!-- Upload Button -->
  <button
    type="button"
    class="absolute bottom-3 right-5 w-8 h-8 rounded-full bg-primary text-white flex items-center justify-center"
    (click)="onClickUpdateImage()"
  >
    <mat-icon>camera_alt</mat-icon>
  </button>

  <input
    type="file"
    #fileInput
    accept="image/*"
    class="hidden"
    (change)="onUpload($event)"
  />
</div>
