@switch (stepperOrientation | async) { @case ('horizontal') { } @case
('vertical') { } }
<div class="flex justify-between">
  <h3 class="heading">
    {{ "authordetails" | translate }}
  </h3>
  <app-back></app-back>
</div>
<mat-stepper
  class="example-stepper !my-4"
  [orientation]="(stepperOrientation | async)!"
  [linear]="true"
  [animationDuration]="'500'"
>
  <mat-step
    [stepControl]="authorFormGroup"
    class="!text-accent !p-0"
    label="Fill out your basic details"
  >
    <form [formGroup]="authorFormGroup">
      <div class="grid-cols-4 grid gap-4 my-4">
        <mat-form-field>
          <mat-label>{{ "authorname" | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'authorname' | translate"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "emailid" | translate }}</mat-label>
          <input
            matInput
            placeholder="abc@gmail.com"
            formControlName="email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "username" | translate }}</mat-label>
          <input
            matInput
            placeholder="username"
            formControlName="username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "poccontactnumber" | translate }}</mat-label>
          <input
            matInput
            placeholder="+91-########33"
            formControlName="phoneNumber"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field class="!flex w-full">
        <mat-label>{{ "about" | translate }}</mat-label>
        <textarea
          matInput
          placeholder="xyz"
          formControlName="about"
          required
          rows="4"
        ></textarea>
      </mat-form-field>
    </form>
    <form [formGroup]="authorSocialMediaGroup">
      <div formArrayName="socialMedia" class="flex flex-col gap-4 my-4">
        <div class="flex justify-between items-center">
          <h3>
            {{ "addsocialmedialinks" | translate }}
          </h3>
          <button
            matButton
            matButton="filled"
            class="!bg-primary disabled:opacity-40"
            (click)="this.addSocialMedia()"
            [disabled]="isAllSelected()"
          >
            <mat-icon class="material-icons">add_circle_outline</mat-icon>
            {{ "addmore" | translate }}
          </button>
        </div>
        @for (group of authorSocialMediaGroup.controls.socialMedia.controls;
        track $index) {
        <div [formGroupName]="$index">
          <app-social-media
            [socialMediaGroup]="group"
            [socialMediaArray]="socialMediaArray"
            [index]="$index"
          ></app-social-media>
        </div>
        }
      </div>
    </form>
    <form [formGroup]="authorFormGroup">
      <mat-card class="example-card !gap-4" appearance="outlined">
        <mat-card-header class="flex flex-col gap-2">
          <mat-card-title class="!text-primary text-left !font-medium">{{
            "uploadauthorsimage" | translate
          }}</mat-card-title>
          <mat-card-subtitle class="text-"
            >{{
              "imagesizeshouldbelessthan2MB" | translate
            }}.</mat-card-subtitle
          >
        </mat-card-header>
        <app-upload-file></app-upload-file>
      </mat-card>
    </form>
    <button matButton="filled" class="!bg-primary mt-8" matStepperNext>
      Next
    </button>
  </mat-step>
  <mat-step
    [stepControl]="authorAddressDetails"
    class="!text-accent !p-0"
    label="Fill out your address"
  >
    <form [formGroup]="authorAddressDetails">
      <div class="grid-cols-4 grid gap-4 my-4">
        <mat-form-field>
          <mat-label>{{ "country" | translate }}</mat-label>
          <mat-select formControlName="country" required>
            <mat-option value="">
              {{ "selectcountry" | translate }}
            </mat-option>
            @for (item of countries; track $index) {

            <mat-option [value]="item.isoCode">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "state" | translate }}</mat-label>
          <mat-select formControlName="state" required>
            <mat-option value="">
              {{ "selectstate" | translate }}
            </mat-option>
            @for (item of states; track $index) {

            <mat-option [value]="item.isoCode">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "city" | translate }}</mat-label>
          <mat-select formControlName="city" required>
            <mat-option value="">
              {{ "selectcity" | translate }}
            </mat-option>
            @for (item of cities; track $index) {

            <mat-option [value]="item.name">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "address" | translate }}</mat-label>
          <input
            matInput
            formControlName="address"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ "pincode" | translate }}</mat-label>
          <input matInput formControlName="pincode" placeholder="" required />
        </mat-form-field>
      </div>
    </form>
    <div class="flex flex-row gap-2">
      <button class="!bg-primary mt-8 !text-white" matButton matStepperPrevious>
        Back
      </button>
      <button class="!bg-primary mt-8 !text-white" matButton matStepperNext>
        Next
      </button>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="authorBankDetails"
    class="!text-accent !p-0"
    label="Fill out your Bank Details"
  >
    <form [formGroup]="authorBankDetails">
      <div class="grid-cols-4 grid gap-4 my-4">
        <mat-form-field>
          <mat-label>{{ "bankname" | translate }}</mat-label>
          <mat-select formControlName="name" required>
            <mat-option value="">Select Bank</mat-option>
            @for (bank of bankOptions(); track $index) {
            <mat-option [value]="bank.BANK">{{ bank.BANK }}</mat-option>
            }
          </mat-select>
          <!-- <input matInput formControlName="name" placeholder="HDFC" required /> -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "bankaccnumber" | translate }}</mat-label>
          <input
            matInput
            formControlName="accountNo"
            placeholder="78************56"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "accountholdername" | translate }}</mat-label>
          <input
            matInput
            formControlName="accountHolderName"
            placeholder="M Singh"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "ifsccode" | translate }}</mat-label>
          <input
            matInput
            formControlName="ifsc"
            placeholder="IFSC7877776"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "panCardNo" | translate }}</mat-label>
          <input matInput formControlName="panCardNo" placeholder="" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "accountType" | translate }}</mat-label>
          <mat-select formControlName="accountType" placeholder="" required>
            <mat-option value="SAVING">SAVING</mat-option>
            <mat-option value="CURRENT">CURRENT</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="flex flex-row gap-2">
      <button class="!bg-primary mt-8 !text-white" matButton matStepperPrevious>
        Back
      </button>
      <button
        class="!bg-primary mt-8 !text-white"
        matButton
        (click)="onSubmit()"
      >
        {{
          loggedInUser()?.accessLevel === "SUPERADMIN" || !this.authorId
            ? ("submit" | translate)
            : ("raiseaticket" | translate)
        }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
