<header
  class="flex justify-between items-center bg-primary-superlight px-8 shadow h-[84px]"
>
  <button (click)="onSidebarToggle()" class="w-8 h-8 mobile:hidden">
    <img class="icon" src="images/my Author(1).png" />
  </button>
  <span class="max-mobile:hidden"></span>
  <nav class="flex items-center justify-between w-full">
    <span class="flex flex-col">
      <h3 class="font-medium text-text-heading">{{ "hi" | translate }},</h3>
      <b class="text-text-heading">{{ fullName() }}</b>
    </span>
    @if (!!userService.loggedInUser$()) {
    <div class="flex gap-4">
      <button mat-icon-button class="w-8 h-8">
        <svg-icon
          class="fill-black"
          src="images/user-solid-full.svg"
        ></svg-icon>
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="notificationMenu"
        matBadge="{{ unreadNotifications().length }}"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        class="w-8 h-8"
      >
        <svg-icon
          class="fill-black"
          src="images/bell-solid-full.svg"
        ></svg-icon>
      </button>
    </div>

    }
  </nav>
</header>

<ng-template #placeholder>
  <span></span>
</ng-template>

<mat-menu
  (closed)="onNotificationClose()"
  #notificationMenu="matMenu"
  class="w-[300px] h-[300px]"
>
  @if (notifications().length) { @for (notification of notifications(); track
  $index) {

  <div
    class="flex text-start flex-col gap-1 not-last:border-b items-start justify-start p-2"
  >
    <span class="w-full">{{ notification.title }}</span>
    <p class="w-full">{{ notification.message }}</p>
  </div>
  } } @else {
  <span class="px-4 py-2 block text-gray-500">No new notifications</span>
  }
</mat-menu>
