<div class="flex flex-col flex-grow gap-4">
  <h3 class="heading">
    {{ "titles" | translate }}
  </h3>

  <div class="flex md:flex-row flex-col justify-between w-full gap-4">
    <div
      class="flex h-[38px] items-center justify-center md:min-w-[480px] min-w-full gap-2"
    >
      <input
        class="input-field outline-none w-full"
        #input
        (input)="searchStr.next(input.value)"
        [placeholder]="'search' | translate"
      />
      <button
        class="btn h-[38px] flex items-center self-end justify-center gap-2"
        (click)="searchStr.next(input.value)"
      >
        <svg-icon
          src="images/magnifying-glass-solid-full.svg"
          class="w-4 fill-white flex"
        ></svg-icon>
        {{ "search" | translate }}
      </button>
    </div>

    <div class="flex gap-2">
      <!-- <button
        matButton="filled"
        class="!bg-primary text-white flex items-center gap-2 rounded-md p-2"
      >
        <mat-icon class="material-icons">filter_list</mat-icon>
        {{ "filter" | translate }}
      </button> -->

      <!-- <div class="flex gap-2 pr-2">
        <mat-form-field
          class="compact-select !bg-surface h-[42px]"
          appearance="outline"
        >
          <mat-select
            (selectionChange)="
              filter.status = $event.value; fetchTitleDetails()
            "
            [value]="filter.status"
          >
            <mat-option value="ALL">ALL</mat-option>
            @for (status of titleDBStatus(); track $index) {
            <mat-option [value]="status">{{ status | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div> -->
      @if (loggedInUser()?.accessLevel !== 'AUTHER') {

      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        [routerLink]="['/title-update-tickets']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="material-icons">support_agent</mat-icon>
        {{ "updatetickets" | translate }}
      </button>
      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        [routerLink]="['/title', 0]"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="material-icons">add_circle_outline</mat-icon>
        {{ "addtitle" | translate }}
      </button>
      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        [routerLink]="['/titleDetails']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>menu_book</mat-icon>
        {{ "mytitles" | translate }}
      </button>
      @if (loggedInUser()?.accessLevel === 'SUPERADMIN') {
      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        [routerLink]="['/shared-titles']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>share</mat-icon>
        Shared Titles
      </button>
      }
      }
    </div>
  </div>
  <div class="flex w-full gap-4 mt-4">
    <button
      class="btn rounded-md !text-primary"
      matButton="filled"
      matButton
      type="button"
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === 'ALL',
        '!bg-primary-superlight': lastSelectedStatus !== 'ALL'
      }"
      (click)="selectStatus('ALL')"
    >
      <mat-icon>format_list_bulleted</mat-icon>
      All
    </button>
    <button
      class="btn rounded-md !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.DRAFT,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.DRAFT
      }"
      (click)="selectStatus(titleStatus.DRAFT)"
    >
      <mat-icon>drafts</mat-icon>

      DRAFT
    </button>
    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.PENDING,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.PENDING
      }"
      (click)="selectStatus(titleStatus.PENDING)"
    >
      <mat-icon>hourglass_top</mat-icon>

      PENDING
    </button>
    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.APPROVED,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.APPROVED
      }"
      (click)="selectStatus(titleStatus.APPROVED)"
    >
      <mat-icon>check_circle</mat-icon>

      APPROVED
    </button>
    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.REJECTED,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.REJECTED
      }"
      (click)="selectStatus(titleStatus.REJECTED)"
    >
      <mat-icon>cancel</mat-icon>

      REJECTED
    </button>
    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.DELETED,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.DELETED
      }"
      (click)="selectStatus(titleStatus.DELETED)"
    >
      <mat-icon>delete</mat-icon>

      DELETED
    </button>
    <button
      class="btn rounded-md bg-primary-superlight !text-primary"
      type="button"
      matButton="filled"
      matButton
      [ngClass]="{
        '!bg-primary !text-white': lastSelectedStatus === titleStatus.SUBMITTED,
        '!bg-primary-superlight': lastSelectedStatus !== titleStatus.SUBMITTED
      }"
      (click)="selectStatus(titleStatus.SUBMITTED)"
    >
      <mat-icon>send</mat-icon>

      SUBMITTED
    </button>
  </div>

  <app-list-table
    class="pt-6"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionTemplate]="actionButtons"
  >
  </app-list-table>
  <ng-template #actionButtons let-element>
    <div class="flex gap-2 text-blue-600 text-sm items-center lg:flex-wrap">
      <button
        class="!bg-primary"
        mat-icon-button
        [routerLink]="['/titleSummary', element.id]"
      >
        <mat-icon class="!text-white">visibility</mat-icon>
      </button>
      @if(loggedInUser()?.accessLevel === 'PUBLISHER') { @if(element.status ===
      'APPROVED') {
      <button
        class="!bg-primary"
        mat-icon-button
        [routerLink]="['/title', element.id]"
        [title]="'raiseupdateticket' | translate"
      >
        <mat-icon class="!text-white">support_agent</mat-icon>
      </button>
      } @else if(element.status !== 'REJECTED') {
      <button
        class="!bg-primary"
        mat-icon-button
        [routerLink]="['/title', element.id]"
        [title]="'edit' | translate"
      >
        <mat-icon class="!text-white">edit</mat-icon>
      </button>
      } } @else if(loggedInUser()?.accessLevel !== 'PUBLISHER' &&
      loggedInUser()?.accessLevel !== 'AUTHER') {
      <button
        class="!bg-primary"
        mat-icon-button
        [routerLink]="['/title', element.id]"
        [title]="'edit' | translate"
      >
        <mat-icon class="!text-white">edit</mat-icon>
      </button>
      } @if(loggedInUser()?.accessLevel === 'SUPERADMIN') { @if (element.status
      === 'PENDING') {
      <button
        (click)="onClickApprove(element)"
        title="Approve"
        class="!bg-green-700"
        mat-icon-button
      >
        <mat-icon class="!text-white">thumb_up</mat-icon>
      </button>
      <button
        (click)="onClickReject(element)"
        title="Reject"
        class="!bg-accent"
        mat-icon-button
      >
        <mat-icon class="!text-white">thumb_down</mat-icon>
      </button>
      }

      <button
        (click)="onClickDeleteTitle(element)"
        class="!bg-accent"
        mat-icon-button
      >
        <mat-icon class="!text-white">delete</mat-icon>
      </button>
      }
    </div>
  </ng-template>

  <!-- <div class="bg-[var(--surface)] rounded-md shadow border pt-6">
    <div
      class="grid grid-cols-[1fr_150px_150px_150px_1fr_1fr_1fr] px-4 py-3 text-sm font-medium text-[var(--text-primary)] bg-[var(--surface-alt)] border-bottom"
    >
      <div>{{ "title" | translate }}</div>
      <div>{{ "ISBN" | translate }}</div>
      <div>{{"pages" |translate}}</div>
      <div>{{ "royaltiesEarned" | translate }}</div>
      <div>{{ "authorname" | translate }}</div>
      <div>{{ "links" | translate }}</div>
      <div>{{ "actions" | translate }}</div>
    </div>

    @if (titles() && titles().length ){
    <ul class="divide-y">
      @for (title of titles(); track title; let i = $index) {
      <li
        class="grid grid-cols-[1fr_150px_150px_150px_1fr_1fr_1fr] items-center px-4 py-3 text-sm text-[var(--text-secondary)] border-bottom hover:bg-gray-50 dark:hover:bg-[var(--surface-alt)] transition"
      >
        <div>{{ title.name}}</div>
        <div>{{  title.isbn.isbnNumber }}</div>
        <div>{{title.pages}}</div>
        <div>{{0  }}</div>
        <div>{{ title.author.name }}</div>
        <div>{{ title.links && title.links.length > 0 ? title.links.join(", ") : "No Links Available"}}</div>
        <div class="flex gap-2 text-blue-600 text-sm items-center lg:flex-wrap">
          <button
            [routerLink]="['/title', title.id]"
            routerLinkActive="router-link-active"
            class="btn h-[38px] w-[38px] !p-0"
            ><svg-icon class="flex fill-white w-6" src="images/eye-solid-full.svg"></svg-icon></button>
          <button
            [routerLink]="['/title', title.id]"
            class="btn h-[38px] w-[38px] !p-0"
            ><svg-icon class="flex fill-white w-6" src="images/pen-to-square-regular-full.svg"></svg-icon></button
          >

          <button class="btn h-[38px] w-[38px] !p-0 border-accent !bg-red-200"><svg-icon class="flex fill-accent w-6" src="images/trash-can-solid-full.svg"></svg-icon></button>
        </div>
      </li>
      }
    </ul>
    }
  </div> -->
</div>
