<div
  class="p-6 border border-[var(--primary-superlight)] bg-white rounded-xl shadow-md"
>
  <h4
    class="text-lg font-medium text-[var(--primary)] mb-4 flex items-center capitalize"
  >
    <mat-icon class="mr-2 text-[var(--primary)]">library_books</mat-icon>
    Titles by {{ author()?.user?.firstName }} {{ author()?.user?.lastName }}
  </h4>

  @if (loading()) {
  <div class="text-sm text-[var(--text-secondary)]">Loading...</div>
  } @if (!loading() && !titles().length) {
  <div class="text-sm text-[var(--text-secondary)]">No titles found.</div>
  } @if (titles().length) {
  <table class="w-full !rounded-2xl overflow-hidden shadow-sm">
    <!-- HEADER -->
    <thead class="bg-[var(--primary-superlight)]">
      <tr>
        <th class="px-5 py-3 text-left text-sm font-medium">Title</th>
        <th class="px-5 py-3 text-left text-sm font-medium">Published By</th>
        <th class="px-5 py-3 text-left text-sm font-medium">Books Sold</th>
        <th class="px-5 py-3 text-left text-sm font-medium">
          Author Copies Price
        </th>
        <th class="px-5 py-3 text-left text-sm font-medium">ISBN</th>
        <th class="px-5 py-3 text-left text-sm font-medium">Status</th>
        <th class="px-5 py-3 text-left text-sm font-medium">View</th>
      </tr>
    </thead>

    <!-- BODY -->
    <tbody class="divide-y divide-[var(--primary-superlight)]">
      @for (t of titles(); track t.id) {
      <tr class="hover:bg-[var(--light-purple-bg)] transition-all duration-200">
        <td class="px-5 py-3 text-[var(--primary)] font-medium">
          {{ t.name }}
        </td>

        <td class="px-5 py-3 text-[var(--primary)] font-medium capitalize">
          {{ t.publisherDisplay }}
        </td>

        <td class="px-5 py-3">{{ t.copiesSold }}</td>
        @if (t.authors?.[0]?.authorPrintPrice !== null) {
        <td class="px-5 py-3">
          ₹{{ t.authors?.[0]?.authorPrintPrice |  number : "1.2-2"  }}
        </td>
        }@else{
        <td class="px-5 py-3">
          {{ "N/A" }}
        </td>
        }

        <td class="px-5 py-3 leading-tight">
          <div>{{ t.isbnPrint ? (t.isbnPrint | isbnFormat) : "—" }}</div>
          <div>{{ t.isbnEbook || "" }}</div>
        </td>

        <td class="px-5 py-3 capitalize">{{ t.status }}</td>

        <td class="px-5 py-3">
          <button
            class="!bg-primary shadow-sm hover:shadow-md transition"
            mat-icon-button
            [routerLink]="['/titleSummary', t.id]"
          >
            <mat-icon class="!text-white">visibility</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
