<div class="space-y-6 mt-4">
  <div class="grid gap-6">
    @for (media of controls(); track $index + "_media") {
      <div
        [formGroup]="media"
        class="p-4 border rounded-lg shadow-md bg-gray-50 flex flex-col md:flex-row md:justify-between gap-4"
      >
        <div>
          <div class="flex flex-col gap-4 items-start">
            <label class="block font-semibold">
              {{ getDocumentLabel(media.value.mediaType!) }}
              @if (isRequired(media.get("file"), media.value.type!)) {
                <span class="text-red-500">*</span>
              }
            </label>
            <input
              #fileInput
              type="file"
              class="block w-full text-sm text-gray-600"
              (change)="onFileSelected($event, $index)"
              [accept]="getAcceptedTypes(media.value.type!)"
              [ngClass]="{
                hidden: media.value.url,
              }"
            />
            @if (media.value.url) {
              <span class="text-sm text-gray-700 break-all">{{
                media.value.name
              }}</span>
            }
            <button
              matButton="filled"
              class="px-4 py-2 !bg-primary !text-white rounded-lg shadow hover:bg-primary/90 transition h-10 min-h-[40px]"
              type="button"
              (click)="triggerUpload($index)"
            >
              <mat-icon>upload</mat-icon>
              {{ "upload" | translate }}
            </button>
          </div>

          <p class="text-xs text-gray-500 mt-4">
            {{ getHelperText(media.value.type!) }}
          </p>
        </div>

        <div
          class="self-center flex justify-center md:justify-end w-full md:w-auto min-w-0"
        >
          @if (
            media.value.url &&
            media.value.type !== "INTERIOR" &&
            media.value.mediaType !== "FULL_COVER" &&
            media.value.type !== "MANUSCRIPT"
          ) {
            <div class="border rounded p-2 inline-block bg-white shadow-sm">
              <img
                [src]="media.value.url"
                alt="preview"
                class="h-32 max-w-full object-contain rounded"
              />
            </div>
          }
          @if (
            media.get("url")?.value &&
            (media.get("type")?.value === "INTERIOR" ||
              media.value.type === "FULL_COVER" ||
              media.value.type === "MANUSCRIPT")
          ) {
            <mat-card
              class="flex flex-col md:!flex-row items-start md:!items-center !gap-4 p-3 bg-gray-50 shadow-sm rounded-md w-full md:w-auto min-w-0"
            >
              <mat-icon color="warn">
                @if (media.value.type === "MANUSCRIPT") {
                  description
                } @else {
                  picture_as_pdf
                }
              </mat-icon>
              <div class="min-w-0 flex-1">
                <p
                  class="text-sm font-medium text-gray-800 break-words overflow-hidden"
                >
                  {{ media.get("name")?.value }}
                </p>

                <p class="text-xs text-gray-500">
                  @if (media.get("file")?.value) {
                    {{
                      (media.get("file")?.value?.size || 0) / 1024 / 1024
                        | number: "1.1-1"
                    }}
                    MB
                  } @else if (media.get("size")?.value) {
                    {{ media.get("size")?.value || 0 }} MB
                  }
                </p>
              </div>

              <button
                mat-icon-button
                color="warn"
                class="!bg-accent self-start md:self-center"
                (click)="removeFile($index)"
                [attr.aria-label]="
                  media.value.type === 'MANUSCRIPT'
                    ? 'Remove Document'
                    : 'Remove PDF'
                "
              >
                <mat-icon class="!fill-red">delete</mat-icon>
              </button>
            </mat-card>
          }
        </div>
      </div>
    }
  </div>
</div>
