<div class="flex flex-col gap-4 w-[480px] max-w-[90vw] p-3">
  @if (data && data.heading) {
    <h2 mat-dialog-title class="text-xl">{{ data.heading }} !!</h2>
  }
  <mat-dialog-content>
    @if (data.label) {
      <mat-label class="mb-2 block">
        {{ data.label || "addtext" | translate }}
      </mat-label>
    }
    <mat-form-field class="w-full" subscriptSizing="dynamic">
      <input
        matInput
        [type]="data.type || 'text'"
        [formControl]="text"
        [placeholder]="data.placeholder || ''"
      />
    </mat-form-field>
    @if (data.showErrors && text.errors && text.touched) {
      <mat-error class="mt-2 block">
        @if (text.hasError("required")) {
          {{ "fieldisrequired" | translate }}
        } @else if (text.hasError("min")) {
          {{ "minvalueis" | translate: text.getError("min") }}
        } @else if (text.hasError("max")) {
          {{ "maxvalueis" | translate: text.getError("max") }}
        }
      </mat-error>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      matButton="filled"
      class="!bg-accent"
      (click)="data.onClose()"
    >
      {{ data.cancelButtonLabel || "close" | translate }}
    </button>
    <button
      mat-button
      matButton="filled"
      class="!bg-primary"
      (click)="text.valid ? data.onSave(text.value || '') : undefined"
    >
      {{ data.saveButtonLabel || "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</div>
