<div
  class="bg-white rounded-xl border border-[var(--primary-superlight)] shadow-sm overflow-hidden"
>
  <!-- HEADER -->
  <button
    type="button"
    class="w-full flex justify-between items-center px-4 py-3 text-left"
    (click)="toggle()"
  >
    <span class="font-medium text-[var(--text-heading)]">
      {{ title }}
    </span>

    <mat-icon class="text-[var(--primary)]">
      {{ isOpen() ? "expand_less" : "expand_more" }}
    </mat-icon>
  </button>

  <!-- CONTENT -->
  @if (isOpen()) {
  <div class="border-t border-[var(--primary-superlight)] p-4">
    <ng-content></ng-content>
  </div>
  }
</div>
