<div class="bg-white rounded-lg p-4 shadow-sm">
  <h3 class="text-slate-800 font-semibold mb-3">Recent Orders</h3>
  @for (booking of bookings(); track $index) {

  <div class="flex items-center justify-between py-3 border-b last:border-b-0">
    <div>
      <div class="text-sm font-medium">{{ booking.titleDetails.name }}</div>
      <div class="text-xs text-gray-400">
        {{ booking.bookingDate | date }}
      </div>
    </div>
    <div class="text-right">
      <div class="text-sm font-bold">
        {{ booking.totalAmount | currency : "INR" }}
      </div>
      <div
        [ngClass]="{
          'text-green-500': booking.status === 'COMPLETED',
          'text-yellow-400': booking.status === 'PENDING'
        }"
        class="text-xs"
      >
        {{ booking.status }}
      </div>
    </div>
  </div>
  }
</div>
