<div class="bg-white rounded-lg p-4 shadow-sm">
  <h3 class="text-slate-800 font-semibold mb-3">
    {{ "recenttitles" | translate }}
  </h3>

  @if (titles() === null) {
  <p>Loading Recent Titles</p>
  } @if(titles() && !titles()?.length) {
  <p>No recent titles</p>
  } @if(titles()?.length) { @for (title of titles(); track $index) {
  <div class="flex items-center justify-between py-2 border-b last:border-b-0">
    <div class="flex items-center gap-3">
      <div
        class="w-8 h-8 rounded bg-indigo-100 flex items-center justify-center text-indigo-600"
      >
        {{ $index + 1 }}
      </div>
      <div>
        <div class="text-sm font-medium">{{ title.name }}</div>
        <div class="text-xs text-gray-400">Sold: {{ title.copiesSold }}</div>
      </div>
    </div>
    <div class="text-right">
      <div class="text-sm font-bold">
        {{ title.totalSales | currency }}
      </div>
    </div>
  </div>
  } }
</div>
