:host ::ng-deep .mat-mdc-form-field-outline {
  border-radius: 12px !important;
}

:host ::ng-deep .mat-mdc-option {
  padding: 10px 16px !important;
  border-radius: 10px;
  transition: background 0.2s ease;
}
.mat-mdc-icon-button {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

:host ::ng-deep .mat-mdc-option:hover {
  background-color: #f4f5f7 !important;
}

:host ::ng-deep .mat-mdc-form-field {
  background: #fafbff !important;
}
/* Compact modern field look */
:host ::ng-deep .slim-field .mat-mdc-form-field-flex {
  height: 57px !important;
  /* padding: 0 8px !important; */
}

:host ::ng-deep .slim-field .mat-mdc-text-field-wrapper {
  /* min-height: 40px !important; */
}
:host
  ::ng-deep
  .mat-mdc-form-field-has-icon-prefix
  .mat-mdc-text-field-wrapper {
  padding-left: 10px !important;
}
:host ::ng-deep .mat-mdc-form-field-outline {
  border-radius: 10px !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

:host ::ng-deep .mat-mdc-option {
  padding: 6px 12px !important;
  border-radius: 8px;
  transition: background 0.2s ease;
}

:host ::ng-deep .mat-mdc-option:hover {
  background-color: #f5f5f7 !important;
}
