<div class="flex flex-col gap-4 w-[480px] max-w-[90vw] p-3">
  <h2 mat-dialog-title class="text-xl heading !text-primary">
    Manage Distribution Types
  </h2>

  <mat-dialog-content>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <div formArrayName="distributions" class="flex flex-col gap-4">
        @for(dist of distributions.controls ;track $index){
        <div [formGroupName]="$index" class="grid grid-cols-2 gap-3">
          <mat-form-field>
            <input
              matInput
              type="text"
              [value]="dist.controls.distributionType.value | translate"
              required
              disabled
            />
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="amount" required />
          </mat-form-field>
        </div>
        }
      </div>

      <mat-checkbox formControlName="allowCustomPrintingPrice">
        {{ "allowCustomPrintingPrice" | translate }}
      </mat-checkbox>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
    >
      {{ "close" | translate }}
    </button>
    <button
      (click)="onSubmit()"
      mat-button
      matButton="filled"
      class="!bg-primary"
    >
      {{ "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</div>
