<section
  class="w-full min-h-screen flex items-center justify-center bg-purple-bg p-4"
>
  <div class="w-full max-w-lg bg-white shadow-lg rounded-xl p-8">
    <!-- OTP Icon Header -->
    <div class="flex justify-center mb-4">
      <div
        class="w-16 h-16 bg-primary-superlight rounded-full flex items-center justify-center shadow"
      >
        <svg-icon src="images/verify-password.svg"> </svg-icon>
      </div>
    </div>

    <h2 class="text-2xl font-semibold text-text-heading text-center">
      Verify & Reset Password
    </h2>

    <p class="text-sm text-text-secondary text-center mt-1">
      Enter the OTP sent to <span class="font-medium">{{ email }}</span
      >.
    </p>
    <div class="mt-6 flex justify-center">
      <ng-otp-input
        [config]="otpConfig"
        (onInputChange)="onOtpChange($event)"
        class="flex gap-3"
      ></ng-otp-input>
    </div>

    <form
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
      class="mt-6 space-y-4"
    >
      <div class="flex flex-col gap-1">
        <label class="text-text-primary font-medium"> New Password </label>

        <div class="relative">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            formControlName="newPassword"
            placeholder="Enter new password"
            class="w-full px-4 py-3 pr-12 rounded-lg border border-primary-light bg-primary-superlight focus:ring-2 focus:ring-primary"
          />

          <mat-icon
            class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500 hover:text-primary"
            (click)="showNewPassword = !showNewPassword"
            [class.pointer-events-none]="
              !passwordForm.controls.newPassword.value
            "
          >
            {{ showNewPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </div>
      </div>
      @if (
        passwordForm.controls.newPassword.invalid &&
        passwordForm.controls.newPassword.touched
      ) {
        <p class="text-red-colour text-sm">
          Password must be at least 8 characters, include uppercase, lowercase &
          number
        </p>
      }
      <div class="flex flex-col gap-1">
        <label class="text-text-primary font-medium"> Confirm Password </label>

        <div class="relative">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Confirm password"
            class="w-full px-4 py-3 pr-12 rounded-lg border border-primary-light bg-primary-superlight focus:ring-2 focus:ring-primary"
          />

          <mat-icon
            class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500 hover:text-primary"
            (click)="showConfirmPassword = !showConfirmPassword"
          >
            {{ showConfirmPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </div>
      </div>
      @if (
        passwordForm.hasError("passwordMismatch") &&
        passwordForm.controls.confirmPassword.touched
      ) {
        <p class="text-red-colour text-sm">Passwords do not match</p>
      }
      @if (errorMessage()) {
        <p class="text-red-colour text-sm">
          {{ errorMessage() }}
        </p>
      }
      @if (successMessage()) {
        <p class="text-green-2 text-sm">
          {{ successMessage() }}
        </p>
      }

      <button
        type="submit"
        class="w-full bg-primary text-white py-3 rounded-full shadow hover:scale-[1.02] transition-all"
        [disabled]="
          loading() || passwordForm.invalid || otpValue().length !== 6
        "
      >
        {{ loading() ? "Updating..." : "Reset Password" }}
      </button>
      <div class="flex items-center justify-center gap-4 mt-4">
        <button
          type="button"
          (click)="resendOtp()"
          class="text-primary font-medium disabled:!cursor-none enabled:hover:underline transition disabled:!text-gray-500"
          [disabled]="isDisabled$()"
        >
          Resend OTP
          @if (isDisabled$()) {
            ({{ countdown$() }})s
          }
        </button>
        <span class="w-px h-5 bg-primary-light"></span>
        <a
          [routerLink]="['/login']"
          class="text-primary font-medium hover:underline transition"
        >
          Back to Login
        </a>
      </div>
    </form>
  </div>
</section>
