/* CKEditor Styling to match Material Design */
.ckeditor-wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.ckeditor-wrapper ::ng-deep .ck-editor {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable {
  min-height: 300px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.1);
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable:focus {
  outline: none;
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable.ck-error {
  border-color: #f44336;
}

.ckeditor-wrapper ::ng-deep .ck-toolbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: #fafafa;
}

.ckeditor-wrapper ::ng-deep .ck-toolbar__separator {
  background: rgba(0, 0, 0, 0.12);
}

.ckeditor-wrapper ::ng-deep .ck-button {
  color: rgba(0, 0, 0, 0.87);
}

.ckeditor-wrapper ::ng-deep .ck-button:hover:not(.ck-disabled) {
  background: rgba(0, 0, 0, 0.04);
}

.ckeditor-wrapper ::ng-deep .ck-button.ck-on {
  background: rgba(0, 0, 0, 0.08);
}

.ckeditor-wrapper ::ng-deep .ck-button__label {
  font-size: 13px;
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable p {
  margin: 0.5em 0;
}

.ckeditor-wrapper ::ng-deep .ck-editor__editable p:last-child {
  margin-bottom: 0;
}

.ckeditor-wrapper.error ::ng-deep .ck-editor__editable {
  border-color: #f44336;
}

.mobile-select-panel {
  max-height: 60vh;
}
