<div class="bg-surface rounded-xl p-4 shadow-sm">
  <h3 class="text-slate-800 font-medium mb-3 text-sm sm:text-base">
    {{ heading() }}
  </h3>

  @for (title of titles(); track $index) {
  <div
    class="flex items-start sm:items-center justify-between gap-3 py-3 px-1 border-b last:border-b-0 hover:bg-gray-50 transition"
  >
    <!-- LEFT -->
    <div class="flex items-start gap-3 min-w-0">
      <div
        class="w-7 h-7 sm:w-8 sm:h-8 rounded bg-indigo-100 flex items-center justify-center text-indigo-600 text-xs sm:text-sm shrink-0"
      >
        {{ $index + 1 }}
      </div>

      <div class="min-w-0">
        <div
          class="text-sm font-medium text-gray-800 truncate"
          title="{{ title.name }}"
        >
          {{ title.name }}
        </div>

        @if (type() === 'BEST_SELLING_MAH') {
        <div class="text-xs text-gray-400">Copies: {{ title.copiesSold }}</div>
        } @else if (type() === 'RECENT') {
        <div class="text-xs text-gray-400">
          Published: {{ title.submission_date | myDate }}
        </div>
        }
      </div>
    </div>

    <!-- RIGHT -->
    <!-- <div class="text-right shrink-0">
      <div class="text-sm font-semibold text-gray-700">
        {{ title.totalSales | currency }}
      </div>
    </div> -->
  </div>
  }
</div>
