@switch (stepperOrientation | async) { @case ('horizontal') { } @case
('vertical') { } }
<div class="flex justify-between">
  <h3 class="heading">
    {{ "publisherdetails" | translate }}
  </h3>
  <app-back></app-back>
</div>
<mat-stepper
  class="example-stepper !my-4"
  [orientation]="(stepperOrientation | async)!"
  [linear]="true"
  [animationDuration]="'500'"
>
  <mat-step
    [stepControl]="step1Form"
    class="!text-accent !p-0"
    label="Fill out your basic details"
  >
    <div class="mx-auto py-6 space-y-10">
      <form [formGroup]="publisherFormGroup">
        <div class="bg-white shadow-sm border rounded-xl px-6 py-8">
          <div class="flex flex-col md:flex-row gap-10">
            <div class="flex flex-col items-center shrink-0">
              <app-upload-file
                [prefillMedia]="mediasArray.value[0] ?? null"
                (mediaAdded)="onMediaAdded($event)"
              ></app-upload-file>
              <p
                class="mt-2 text-[11px] text-gray-500 text-center leading-tight"
              >
                Upload Company Logo / Profile Image <br />
                Recommended 300×300px – Max 2MB <br />
                JPG · PNG · GIF Supported
              </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
              <mat-form-field class="w-full">
                <mat-label>Company Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Santosh Printing Press"
                />
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Email (Official)</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="abc@gmail.com"
                />
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Contact Person Name</mat-label>
                <input
                  matInput
                  formControlName="pocName"
                  placeholder="Santosh"
                />
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="pocPhoneNumber"
                  placeholder="9876543210"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact Person Email</mat-label>
                <input
                  matInput
                  formControlName="pocEmail"
                  placeholder="person@gmail.com"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Designation</mat-label>
                <input
                  matInput
                  formControlName="designation"
                  placeholder="Printer"
                />
              </mat-form-field>
              @if(publisherFormGroup.get('id')?.value===null){
              <mat-form-field>
                <mat-label>Create Password</mat-label>
                <input
                  type="password"
                  matInput
                  formControlName="userPassword"
                /> </mat-form-field
              >}
            </div>
          </div>
        </div>
      </form>
      <div class="bg-white shadow-sm border rounded-xl px-6 py-8">
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold">Add Social Media Links</h2>

          <button
            mat-raised-button
            color="primary"
            (click)="addSocialMedia()"
            [disabled]="isAllSelected()"
            class="!px-4 flex gap-1 items-center"
          >
            <mat-icon>add</mat-icon> Add More
          </button>
        </div>

        <form [formGroup]="publisherSocialMediaGroup" class="mt-6">
          <div formArrayName="socialMedia" class="space-y-4">
            @for (group of
            publisherSocialMediaGroup.controls.socialMedia.controls; track
            $index) {
            <div
              class="bg-gray-50 border rounded-lg p-4"
              [formGroupName]="$index"
            >
              <app-social-media
                [socialMediaGroup]="group"
                [socialMediaArray]="socialMediaArray"
                [index]="$index"
              ></app-social-media>
            </div>
            }
          </div>
        </form>
      </div>
    </div>
    <button matButton="filled" class="!bg-primary mt-8" matStepperNext>
      Next
    </button>
  </mat-step>
  <mat-step
    [stepControl]="publisherAddressDetails"
    class="!text-accent !p-0"
    label="Fill out your address"
  >
    <form [formGroup]="publisherAddressDetails">
      <div class="grid-cols-4 grid gap-4 my-4">
        <mat-form-field>
          <mat-label>{{ "country" | translate }}</mat-label>
          <mat-select formControlName="country" required>
            <mat-option value="">
              {{ "selectcountry" | translate }}
            </mat-option>
            @for (item of countries; track $index) {
            <mat-option [value]="item.isoCode">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "state" | translate }}</mat-label>
          <mat-select formControlName="state" required>
            <mat-option value="">
              {{ "selectstate" | translate }}
            </mat-option>
            @for (item of states; track $index) {

            <mat-option [value]="item.isoCode">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "city" | translate }}</mat-label>
          <mat-select formControlName="city" required>
            <mat-option value="">
              {{ "selectcity" | translate }}
            </mat-option>
            @for (item of cities; track $index) {

            <mat-option [value]="item.name">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "address" | translate }}</mat-label>
          <input
            matInput
            formControlName="address"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ "pincode" | translate }}</mat-label>
          <input matInput formControlName="pincode" placeholder="" required />
          @if
          (publisherAddressDetails.controls.pincode.hasError('invalidPincode'))
          {
          <mat-error>
            {{ "invalidpincode" | translate }}
          </mat-error>
          }
        </mat-form-field>
      </div>
    </form>
    <div class="flex flex-row gap-2">
      <button class="!bg-primary mt-8 !text-white" matButton matStepperPrevious>
        Back
      </button>
      <button class="!bg-primary mt-8 !text-white" matButton matStepperNext>
        Next
      </button>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="publisherBankDetails"
    class="!text-accent !p-0"
    label="Fill out your Bank Details"
  >
    <form [formGroup]="publisherBankDetails">
      <div class="grid-cols-4 grid gap-4 my-4">
        <mat-form-field>
          <mat-label>{{ "nameonaccount" | translate }}</mat-label>
          <input
            matInput
            formControlName="accountHolderName"
            placeholder="M Singh"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ "bankname" | translate }}
          </mat-label>
          <mat-select
            [formControl]="publisherBankDetails.controls.name"
            required
          >
            <mat-option value="">Select Bank</mat-option>
            @for (bank of bankOptions(); track $index) {
            <mat-option [value]="bank.name">{{ bank.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "bankaccnumber" | translate }}</mat-label>
          <input
            matInput
            formControlName="accountNo"
            placeholder="78************56"
            required
          />
          @if (publisherBankDetails.get('accountNo')?.hasError('required')) {
          <mat-error> Account number is required </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Re-enter Account Number</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmAccountNo"
            placeholder="**************"
            required
          />
          @if
          (publisherBankDetails.get('confirmAccountNo')?.hasError('required')) {
          <mat-error> Please re-enter your account number </mat-error>
          }
          @if(publisherBankDetails.get('confirmAccountNo')?.hasError('notMatching')
          ){
          <mat-error> Account numbers do not match </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "ifsccode" | translate }}</mat-label>
          <input
            matInput
            formControlName="ifsc"
            placeholder="IFSC7877776"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "panCardNo" | translate }}</mat-label>
          <input matInput formControlName="panCardNo" placeholder="" required />
          @if (publisherBankDetails.get('panCardNo')?.hasError('invalidPan')) {
          <mat-error> Enter a valid PAN number (e.g., ABCDE1234F) </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "accountType" | translate }}</mat-label>
          <mat-select formControlName="accountType" placeholder="" required>
            <mat-option value="SAVING">SAVING</mat-option>
            <mat-option value="CURRENT">CURRENT</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="flex flex-row gap-2">
      <button class="!bg-primary mt-8 !text-white" matButton matStepperPrevious>
        Back
      </button>
      <button
        class="!bg-primary mt-8 !text-white"
        matButton
        (click)="onSubmit()"
      >
        {{
          loggedInUser()?.accessLevel === "SUPERADMIN" || !this.publisherId
            ? ("submit" | translate)
            : ("raiseaticket" | translate)
        }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
