<div class="flex flex-col gap-4 w-[800px] max-w-[90vw] p-3">
  <h2 mat-dialog-title class="text-xl heading !text-primary">Apply ISBN</h2>

  <mat-dialog-content>
    <form
      [ngClass]="{
      'ng-submitted': isSubmitted(),
    }"
      [formGroup]="createIsbnForm"
      class="grid grid-cols-2 gap-4"
    >
      <!-- <mat-form-field>
        <mat-label>{{ "isbnnumber" | translate }}</mat-label>
        <input matInput type="text" formControlName="isbnNumber" />
        @if(createIsbnForm.get('isbnNumber')?.hasError('invalid')) {
        <mat-error>
          {{
            createIsbnForm.get("isbnNumber")?.getError("invalid") | translate
          }}
        </mat-error>
        }
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <!-- <mat-icon matPrefix class="!text-gray-400 !text-lg"
          >style</mat-icon
        > -->
        <mat-label>{{ "selectisbntype" | translate }}</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="PRINT">{{ "Print" | translate }}</mat-option>
          <mat-option value="EBOOK">{{ "Ebook" | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <!-- <mat-icon matPrefix class="!text-gray-400 !text-lg"
          >business</mat-icon
        > -->
        <mat-label>{{ "selectpublisher" | translate }}</mat-label>
        <mat-select formControlName="publisherId" required>
          <mat-option>
            <ngx-mat-select-search
              [formControl]="publisherSearchControl"
              [placeholderLabel]="'Type to search publishers...'"
              [noEntriesFoundLabel]="'No publishers found'"
            ></ngx-mat-select-search>
          </mat-option>
          @if (isSearchingPublishers()) {
          <mat-option disabled>
            <mat-spinner diameter="20"></mat-spinner>
            <span class="ml-2">Searching...</span>
          </mat-option>
          }
          @for (option of filteredPublisherOptions(); track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <!-- <mat-icon matPrefix class="!text-gray-400 !text-lg"
          >person</mat-icon
        > -->
        <mat-label>{{ "selectauthor" | translate }}</mat-label>
        <mat-select formControlName="authorIds" required [multiple]="true">
          <mat-option>
            <ngx-mat-select-search
              [formControl]="authorSearchControl"
              [placeholderLabel]="'Type to search authors...'"
              [noEntriesFoundLabel]="'No authors found'"
            ></ngx-mat-select-search>
          </mat-option>
          @if (isSearchingAuthors()) {
          <mat-option disabled>
            <mat-spinner diameter="20"></mat-spinner>
            <span class="ml-2">Searching...</span>
          </mat-option>
          }
          @for (option of filteredAuthorOptions(); track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "titlename" | translate }}</mat-label>
        <input matInput type="text" formControlName="titleName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "noofpages" | translate }}</mat-label>
        <input matInput type="number" formControlName="noOfPages" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "edition" | translate }}</mat-label>
        <input matInput type="number" formControlName="edition" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "language" | translate }}</mat-label>
        <mat-select formControlName="language" required>
          @for (language of languages(); track language) {
          <mat-option [value]="language">
            {{ language | translate }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
    >
      {{ "close" | translate }}
    </button>
    <button
      (click)="onSubmit()"
      mat-button
      matButton="filled"
      class="!bg-primary"
    >
      {{ "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</div>
