<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="flex flex-col gap-4 max-w-[90vw] p-3"
>
  <h1 mat-dialog-title class="text-xl heading !text-primary">
    {{ "platformdetails" | translate }}
  </h1>

  <mat-dialog-content>
    <div class="flex flex-col gap-2">
      <table class="my-table">
        <tr class="grid" [ngStyle]="gridStyle">
          <th></th>
          @for (platformIndefier of form.controls.platformIdentifier.controls;
          track platformIndefier) {
          <th>
            {{ platformIndefier.controls.platform.value | translate }}
          </th>
          }
        </tr>

        <tr class="grid" [ngStyle]="gridStyle">
          <th>
            {{ "uniqueidentifier" | translate }}
          </th>
          @for (platformIndefier of form.controls.platformIdentifier.controls;
          track platformIndefier) {
          <td>
            <input
              type="text"
              [formControl]="platformIndefier.controls.uniqueIdentifier"
              placeholder="SKU,ASIN etc."
            />
          </td>
          }
        </tr>
        <tr class="grid" [ngStyle]="gridStyle">
          <th>
            {{ "distributionlinks" | translate }}
          </th>
          @for (platformIndefier of form.controls.platformIdentifier.controls;
          track platformIndefier) {
          <td>
            <input
              type="text"
              placeholder="https://amazon..."
              [formControl]="platformIndefier.controls.distributionLink"
            />
          </td>
          }
        </tr>
      </table>

      <!-- <ul class="flex flex-col gap-x-2">
        @for (platformIdentifier of form.controls.platformIdentifier.controls;
        track $index) {
        <li class="overflow-hidden">
          <mat-form-field>
            <mat-label>
              {{ platformIdentifier.controls.platform.value | translate }}
            </mat-label>
            <input
              matInput
              type="text"
              [formControl]="platformIdentifier.controls.uniqueIdentifier"
              class="w-0 min-w-full"
            />
          </mat-form-field>
        </li>
        }
      </ul> -->
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      (click)="data.onClose()"
      mat-button
      matButton="filled"
      class="!bg-accent"
      type="button"
    >
      {{ "close" | translate }}
    </button>
    <button type="submit" mat-button matButton="filled" class="!bg-primary">
      {{ "confirm" | translate }}
    </button>
  </mat-dialog-actions>
</form>
