:host {
  /* grid-row: 1/3; */
  z-index: 20;
  height: 100%;
}
/* ::ng-deep.mdc-button__label{
 display: grid !important;
 grid-template-columns: 40px 1fr;
 align-items: center;
 justify-content: center;
 text-align: center;
 grid-gap: 0.5rem;
}
::ng-deep.mdc-button__ripple{
  display: none;
} */

::ng-deep.mdc-list-item__content {
  @apply w-full;
}
::ng-deep.mat-mdc-list-item-unscoped-content {
  @apply w-full;
}
:host {
  display: block;
  height: 100%;
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

button.router-link {
  font-weight: 500;
  font-size: 15px;
}
