<div class="flex flex-col flex-grow gap-4">
  <div class="flex justify-between">
    <h3 class="heading">
      {{ "authors" | translate }}
    </h3>
    <div class="flex gap-4">
      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        [routerLink]="['/author', 0]"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="material-icons">add_circle_outline</mat-icon>
        {{ "addauthor" | translate }}
      </button>
      <button
        matButton
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
        (click)="inviteAuthor()"
      >
        <mat-icon class="material-icons">person_add</mat-icon>
        {{ "inviteauthor" | translate }}
      </button>
    </div>
  </div>

  <div class="flex justify-between w-full gap-4">
    <div
      class="flex h-[38px] items-center justify-center md:min-w-[480px] min-w-full gap-2"
    >
      <input
        class="input-field outline-none w-full"
        #input
        (input)="searchStr.next(input.value)"
        [placeholder]="'search' | translate"
      />
      <button
        class="btn h-[38px] flex items-center self-end justify-center gap-2"
        (click)="searchStr.next(input.value)"
      >
        <svg-icon
          src="images/magnifying-glass-solid-full.svg"
          class="w-4 fill-white flex"
        ></svg-icon>
        {{ "search" | translate }}
      </button>
    </div>

    <div class="flex gap-2">
      <mat-form-field class="compact-select h-[42px]" appearance="outline">
        <mat-select
          [(value)]="filter.status"
          (valueChange)="fetchAuthors(false)"
        >
          <mat-option value="ALL">ALL</mat-option>
          @for (status of authorDBStatus(); track $index) {
          <mat-option [value]="status">{{ status | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- <button
        matButton="filled"
        class="!bg-primary flex items-center gap-2 text-white rounded-md p-2"
      >
        <mat-icon class="material-icons">filter_list</mat-icon>

        {{ "filter" | translate }}
      </button> -->
    </div>
  </div>
  <!-- <div class="flex gap-2">
    <button class="!bg-primary" matButton="filled">
      {{ "all" | translate }}
    </button>
    <button class="!bg-primary" matButton="filled">
      {{ "active" | translate }}
    </button>
    <button class="!bg-primary" matButton="filled">
      {{ "inactive" | translate }}
    </button>
    <button class="!bg-primary" matButton="filled">
      {{ "dormant" | translate }}
    </button>
  </div> -->
  <app-list-table
    class="pt-6"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionTemplate]="actionButtons"
  >
  </app-list-table>

  @for (author of dataSource.data; track author.id) { @if (expandedAuthorId()
  === author.id) {
  <tr class="w-full bg-white shadow-lg p-8">
    <td colspan="100%" class="p-0">
      <app-author-title-list [authorId]="author.id"></app-author-title-list>
    </td>
  </tr>
  } }
  <ng-template #actionButtons let-element>
    <div class="flex gap-2 text-blue-600 text-sm items-center lg:flex-wrap">
      <button
        class="!bg-primary"
        mat-icon-button
        [routerLink]="['/authorDetails', element.id]"
      >
        <mat-icon class="!text-white">visibility</mat-icon>
      </button>
      <button
        class="!bg-primary"
        mat-icon-button
        [title]="'edit' | translate"
        [routerLink]="['/author', element.id]"
      >
        <mat-icon class="!text-white">edit</mat-icon>
      </button>
      @if(element.status !== AuthorStatus.Rejected) {
      <button
        class="!bg-primary"
        mat-icon-button
        [title]="'resetpassword' | translate"
        (click)="onClickChangePassword(element)"
      >
        <mat-icon class="!text-white">lock_reset</mat-icon>
      </button>
      } @if(element.status !== AuthorStatus.Deactivated && element.status !==
      AuthorStatus.Rejected) {
      <button
        class="!bg-accent active:bg-accent/60"
        mat-icon-button
        [title]="'deactivate' | translate"
        (click)="updateStatus(element.id, 'Deactivated')"
      >
        <mat-icon class="!text-white">lock</mat-icon>
      </button>
      } @if(element.status === AuthorStatus.Pending) {
      <button
        class="!bg-green-2 active:bg-green-2/60"
        mat-icon-button
        (click)="approveAuthor(element.id)"
        [title]="'approve' | translate"
      >
        <mat-icon class="!text-white">check</mat-icon>
      </button>
      <button
        class="!bg-red-colour active:bg-red-colour/60"
        mat-icon-button
        [title]="'reject' | translate"
        (click)="rejectAuthor(element.id)"
      >
        <mat-icon class="!text-white">cancel</mat-icon>
      </button>
      } @if(element.status === AuthorStatus.Deactivated){
      <button
        (click)="updateStatus(element.id, 'Active')"
        class="!bg-purple"
        mat-icon-button
        [title]="'active' | translate"
      >
        <mat-icon class="!text-white">lock_up</mat-icon>
      </button>

      }
      <button
        class="!bg-primary"
        mat-icon-button
        (click)="toggleExpand(element.id)"
      >
        <mat-icon class="!text-white">
          {{
            expandedAuthorId() === element.id
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}
        </mat-icon>
      </button>
    </div>
  </ng-template>
</div>
