.pricing-container {
  grid-column: 1/-1;
  --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  background-color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  list-style: none;
  padding: 0;
}

.pricing-container > li {
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, minmax(120px, 1fr));
}

.pricing-container > li:first-child {
  font-weight: 500;
}

.pricing-container > li:not(:last-child) {
  border-bottom: 1px solid gray;
}

.pricing-container > li > span {
  padding: calc(var(--spacing) * 2);
  display: flex;
  align-items: center;
}

.pricing-container > li > span:not(:last-child) {
  border-right: 1px solid gray;
}

.pricing-container input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

/* Author percentage input styling */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
